<div ng-hide='modalHidden' class='trans-layer'></div>
<div class='modal-container-addeditsupplier' ng-class='{modalactive: !modalHidden}'>
    <div class="wrapper">
        <span>Id:</span><span>{{item.id}}</span>
        <span title="Применить" class="glyphicon glyphicon-ok item-add" style="float: left;"
              ng-show="item.name.length>0 && item.unit.length > 0 && item.ean > 0
                        && item.ean.length == 13 && item.section.id > 0"
              ng-click="appendData()"></span>
        <span title="Закрыть" class="glyphicon glyphicon-remove item-blank" style="float: right;"
              ng-click="closeModal()"></span>
        <div>
            <span>Наименование</span>
            <span class="warning-item-input" ng-hide="item.name.length > 0">Введите наименование</span>
            <input type="text" class="form-control"
                   id = "{{inputId}}"
                   ng-model="item.name" placeholder=""/>
            <div>
                <div style="display: flex;">
                    <span style="width: 50%;">Единица измерения</span>
                    <span style="width: 50%;">Количество для подбора</span>
                </div>
                <div style="display: flex;margin-bottom: 10px;">
                    <span class="warning-item-input" ng-hide="item.unit.length > 0">Введите единицу измерения</span>
                    <input style = "width: 50%; text-align: center;" type="text"
                           class="form-control"
                           ng-model="item.unit" list="measure-units" placeholder=""/>
                    <datalist id="measure-units" >
                        <option>шт</option>
                        <option>л</option>
                        <option>кг</option>
                        <option>м</option>
                        <option>к-т</option>
                    </datalist>
                    <input style = "width: 50%; text-align: center;" type="number"
                           class="form-control" min="0"
                           ng-model="item.predefinedQuantity" placeholder=""/>
                </div>
                <div style="display: flex;">
                    <span style="width: 50%;">Штрих-код</span>
                    <span style="width: 50%;">Штрих-код синоним</span>
                </div>
                <div style="display: flex;margin-bottom: 10px;">
                    <span class="warning-item-input"
                          ng-hide="item.ean.length == 13">Введите штрих код (13 знаков)</span>
                    <button class="glyphicon glyphicon-refresh generate-bc-btn"
                                ng-class="{'disabled-button': item.ean.length === 13,
                                            'enabled-button': item.ean.length != 13}"
                                ng-disabled="item.ean.length === 13"
                                ng-click="getNextId()"></button>
                    <eraser style="margin-top: 6px;" data="item.ean"></eraser>
                    <input  style="width: 47%;"
                            type="text" class="form-control" maxlength="13" placeholder=""
                            ng-keydown="setEanPrefix($event)"
                            ng-model="item.ean"/>
                    <div style="width: 50%;">
                        <input type="text" class="form-control" maxlength="13" placeholder=""
                                ng-keydown="setEanPrefix($event)"
                                ng-model="item.eanSynonym"/>
                    </div>
                </div>
                <div>
                    <span>Секция</span>
                    <item-section-input section="item.section"></item-section-input>
                </div>
            </div>
        </div>
    </div>
</div>
