<div ng-show='modalVisible' class='trans-layer'></div>
<div class='modal-container-addeditsupplier' ng-class='{modalactive: modalVisible}'>
    <div class="wrapper">
        <div>
            <item-add-edit-controls
                    append-data="appendData()" close-modal="closeModal()" item-id="item.id"
                    is-close-hidden="requestParams.requestsQuantity > 0"
                    is-ok-active="item.name.length > 0 && item.unit.length > 0 && item.ean > 0
                        && (item.eanSynonym.length == 13 || item.eanSynonym.length == 0)
                        && item.predefinedQuantity >= 0
                        && item.price >= 0
                        && ((item.components.length > 0 && item.price > 0) || item.components.length == 0)
                        && item.ean.length == 13 && item.section.id > 0">
            </item-add-edit-controls>
        </div>
        <div>
            <common-item-text-input
                    text="item.name" description="наименование"
                    requests-quantity = "requestParams.requestsQuantity">
            </common-item-text-input>
            <common-item-text-input
                    text="item.alterName" description="дополнительное наименование"
                    requests-quantity = "requestParams.requestsQuantity">
            </common-item-text-input>
            <div>
                <div style="display: flex;">
                    <span style="width: 33%;">Единица измерения</span>
                    <span style="width: 33%;">Количество для подбора</span>
                    <span style="width: 33%;">Цена справочно</span>
                </div>
                <div style="display: flex;margin-bottom: 10px;">
                    <span class="warning-item-input" ng-hide="item.unit.length > 0">Введите единицу измерения</span>
                    <eraser style="margin-top: 6px;" data="item.unit"></eraser>
                    <input style = "width: 33%; text-align: center;" type="text"
                           class="form-control"
                           ng-model="item.unit" list="measure-units" placeholder=""/>
                    <datalist id="measure-units" >
                        <option>шт</option>
                        <option>л</option>
                        <option>кг</option>
                        <option>м</option>
                        <option>к-т</option>
                    </datalist>
                    <span style="    margin-left: 33%;" class="warning-item-input"
                          ng-hide="item.predefinedQuantity >= 0">Неверное количество для подбора</span>
                    <input style = "width: 33%; text-align: center;" type="number"
                           class="form-control" min="0"
                           ng-model="item.predefinedQuantity" placeholder=""/>
                    <span style="    margin-left: 33%;" class="warning-item-input"
                          ng-hide="item.price >= 0">Неверно указана цена</span>
                    <input style = "width: 33%; text-align: center;" type="number"
                           id="{{priceInputId}}"
                           class="form-control" min="0"
                           ng-readonly="item.components.length > 0"
                           ng-model="item.price" placeholder=""/>
                    <eraser style="margin-top: 6px;" data="item.price"
                            ng-click="selectByInputId(priceInputId)"></eraser>
                </div>
                <div style="display: flex;">
                    <span style="width: 39%;"></span>
                    <span style="width: 33%;">Единица измерения содержимого</span>
                    <span style="width: 33%;">Количество содержимого</span>
                </div>
                <div style="display: flex;margin-bottom: 10px;">
                    <span style="width: 33%;"></span>
                    <eraser style="margin-top: 6px;" data="item.contentUnit"></eraser>
                    <input style = "width: 33%; text-align: center;" type="text"
                           class="form-control"
                           ng-model="item.contentUnit" list="content-measure-units" placeholder=""/>
                        <datalist id="content-measure-units" >
                        <option>шт</option>
                        <option>л</option>
                        <option>кг</option>
                        <option>м</option>
                        <option>к-т</option>
                    </datalist>
                    <input style = "width: 33%; text-align: center;" type="number"
                           class="form-control" min="0"
                           ng-model="item.perUnitQuantity" placeholder=""/>
                    <span style="width: 28px;"></span>
                </div>
                <div style="display: flex;">
                    <span style="width: 50%;">Штрих-код</span>
                    <span style="width: 50%;">Штрих-код синоним</span>
                </div>
                <div style="display: flex;margin-bottom: 10px;">
                    <span class="warning-item-input"
                          ng-hide="item.ean.length == 13">Введите штрих код (13 знаков)</span>
                    <button class="glyphicon glyphicon-refresh generate-bc-btn"
                                ng-class="{'disabled-button': item.ean.length === 13,
                                            'enabled-button': item.ean.length != 13}"
                                ng-disabled="item.ean.length === 13"
                                ng-click="getNextId()"></button>
                    <eraser style="margin-top: 6px;" data="item.ean"
                            ng-click="selectByInputId(eanInputId)"></eraser>
                    <input  style="width: 45%; text-align: center;" id="{{eanInputId}}"
                            type="text" class="form-control"
                            maxlength="13" placeholder=""
                            ng-keydown="setEanPrefix($event, 'ean')"
                            ng-model="item.ean"/>

                    <span style="right: 80px;" class="warning-item-input"
                          ng-hide="item.eanSynonym.length == 13 || item.eanSynonym.length == 0">
                        Неверно указан штрих-код синоним
                    </span>
                    <button class="glyphicon glyphicon-arrow-right copy-ean-btn"
                        ng-click="copyEanToSynonym()">
                    </button>
                    <input style="width: 45%; text-align: center;" type="text"
                           class="form-control" maxlength="13" placeholder=""
                           ng-keydown="setEanPrefix($event, 'eanSynonym')"
                           ng-model="item.eanSynonym"/>
                    <eraser style="margin-top: 6px;" data="item.eanSynonym"></eraser>
                </div>
                <div style="display: flex;">
                    <div style="width:69%;">
                        <span>Секция</span>
                        <item-section-input section="item.section"></item-section-input>
                    </div>
                    <span style="width:30%; margin-top: 21px;" ng-hide="item.eanSynonym > 0 || !item.id > 0">
                        <span class="warning-item-input"
                              ng-show="item.components.length > 0 && !item.price > 0">
                            Исправьте цену компонентов, сумма должна быть больше 0!
                        </span>
                        <button class="item-component-modal-open-btn"
                                ng-click="openItemComponentsModal()">
                            <span ng-show="!cannotBeComposite">Редактировать компоненты товара</span>
                            <span ng-show="cannotBeComposite">Не может иметь компоненты</span>
                        </button>
                    </span>
            </div>
        </div>
    </div>
</div>
</div>
<item-components-picker item="item"
                        modal-visible="itemComponentsModalVisible">
</item-components-picker>