<div ng-show='modalVisible' class='trans-layer'></div>
<div class='modal-container-addeditsupplier' ng-class='{modalactive: modalVisible}'>
    <div class="wrapper">
            <item-add-edit-controls
                    append-data="appendData()" close-modal="closeModal()" item-id="item.id"
                    is-ok-active="item.name.length>0 && item.address.length > 0">
            </item-add-edit-controls>
        <div>
            <div>
                <common-item-text-input
                        text="item.name" description="наименование"
                        requests-quantity = "requestParams.requestsQuantity">
                </common-item-text-input>
            </div>
            <div>
                <common-item-text-input
                        text="item.address" description="адрес"
                        requests-quantity = "requestParams.requestsQuantity">
                </common-item-text-input>
            </div>

            <div style="display: flex;">
                <span style="width: 20%;">Текущий долг:</span>
                <span style="width: 20%;">Скидка %:</span>
                <span style="width: 60%;">Расчетный счет:</span>
            </div>
            <div style="display: flex;">
                <input style="width: 20%;" type="number" class="form-control" min="0" max="100"
                       ng-readonly="requestParams.requestsQuantity"
                       ng-model="item.debt"/>
                <div style="width: 20%;">
                    <input type="number" class="form-control" min="0" max="100"
                           ng-readonly="requestParams.requestsQuantity"
                           ng-model="item.discount"
                    placeholder=""/>
                </div>
                <div style="width: 60%;">
                    <input type="text" class="form-control" maxlength="28"
                           ng-model="item.account"
                           ng-readonly="requestParams.requestsQuantity"
                           placeholder="Расчетный счет"/>
                </div>
            </div>

        </div>
        <div style="display: flex;">
            <span style="width: 40%;">УНП:</span>
            <span style="width: 60%;">Банк:</span>
        </div>
        <div style="display: flex;margin-bottom: 10px;">
            <!--<span class="warning-item-input" ng-hide="buyer.unp.length == 9">-->
                <!--Введите УНП (9 знаков)-->
            <!--</span>-->
            <input  style="width: 40%;" type="text" class="form-control" maxlength="9"
                    ng-readonly="requestParams.requestsQuantity"
                    ng-model="item.unp" placeholder="УНП"/>
            <div style="width: 60%;">
                <bank-input bank="item.bank"></bank-input>
            </div>
        </div>
        <div style="display: flex;"
             ng-show = "user.role == 'ROLE_ADMIN'">
            <input style="zoom: 1.5; position: absolute; margin: auto;"
                   type="checkbox"
                   ng-model="item.sellByComingPrices"/>
            <label style="margin-left: 20px; color: coral;">
                Продажа по ценам поступления: {{(item.sellByComingPrices) ? "Да" : "Нет"}}
            </label>
        </div>
        <div style="display: flex;"
             ng-show = "user.role == 'ROLE_ADMIN'">
            <input style="zoom: 1.5; position: absolute; margin: auto;"
                   type="checkbox"
                   ng-model="item.useForInventory"/>
            <label style="margin-left: 20px; color: coral;">
                Использовать для инвентаризации: {{(item.useForInventory) ? "Да" : "Нет"}}
            </label>
        </div>
    </div>
</div>