<div class="dropdown">
    <span class="warning-item-input" ng-show="warning">Не выбран поставщик!</span>
    <input title="{{item.name}}" type="text" class="form-control" placeholder="Поставщик"
           id="{{inputId}}"
           ng-model="item.name"
           ng-change="getItems()"
           ng-readonly="!canChange"/>
    <span class="item-input-toolbox">
        <item-input-total total="items.length"></item-input-total>
    </span>
    <ul class="dropdown-menu hoverable supplier-dropdown">
        <li>
            <table class="table">
                <thead>
                <tr>
                    <td style="width: 5%;">
                        <a href="#" style="float: left;padding-left: 3%;"
                           title="Добавить поставщика" ng-click="addEditItem({})">
                            <span class="glyphicon glyphicon-plus item-add"></span>
                        </a>
                    </td>
                    <td style="width: 90%;">
                    <td style="width: 5%;">
                        <span style="float: right;" class="glyphicon glyphicon-remove item-blank"
                              ng-click="blankSearchAndGetItemsBy()" title="Очистить поиск">
                        </span>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr class="hoverable" ng-repeat="x in items">
                    <td class="hoverable" ng-click="selectSupplier()" title="Код">{{ x.id }}</td>
                    <td class="hoverable" ng-click="selectSupplier()" title="Наименование">{{ x.name }}</td>
                    <td>
                        <a href="#" title="Редактировать строку" ng-click="addEditItem(x.id)">
                            <span class="glyphicon glyphicon-pencil item-edit"></span>
                        </a>
                        <!--<a href="#" style="float: left;" title="Удалить строку">-->
                            <!--<span class="glyphicon glyphicon-minus item-delete"></span>-->
                        <!--</a>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </li>
    </ul>
</div>
<add-edit-supplier></add-edit-supplier>