<div ng-transclude></div>
<div>
    <quantity-changer-modal
            check-input = 'checkRows()'
            after-close = 'blankSearch()'
            modal-data="quantityChangerModalData">
    </quantity-changer-modal>
</div>
<div class="menu-panel unprintable" ng-keyup="handleKeyup($event)">

    <div class = "blank-search-row hoverable" ng-click="blankSearch()">
        <pane-search-input
                input-value = 'barcode' keypress-handler="setEanPrefix" input-id="searchInputId">
        </pane-search-input>
        <pane-request-indicator
                requests-quantity="requestParams.requestsQuantity">
        </pane-request-indicator>
        <span style="margin-left: 5px;"
              class="selling-warning" ng-show="warning.length">
            {{warning}}
        </span>
    </div>

    <button class='glyphicon glyphicon-arrow-up pane-searchinput-btn'
            title="искать по наименованию"
            ng-disabled = "barcode.length === 0
            || filter.invoiceNumber > 0
            || requestParams.requestsQuantity > 0"
            ng-click="filter.searchString = barcode;getItemsForReleaseByFilter()">
    </button>

    <div ng-class="{'filter-on-release-pane-enabled':
                    filter.searchString.length > 0
                    || filter.document.id > 0
                    || filter.supplier.id > 0
                    || filter.invoiceNumber > 0
                    || filter.section.id > 0
                    || filter.sectionPart.length > 0
                    || filter.item.id > 0}">
<!--        && (user.role == 'ROLE_ADMIN' || user.actsAllowed.indexOf('sellFromAllStocks')>-1)-->
        <filter-panel-on-release-pane
                stock-picker-disabled = "rows.length > 0"
                pane-is-visible = "requestParams.requestsQuantity == 0"
                filter = 'filter' reset-filter = 'resetFilter()'
                get-items = 'getItemsForReleaseByFilter()'>
        </filter-panel-on-release-pane>
    </div>
</div>
<current-stock-indicator stock="filter.stock"></current-stock-indicator>
<div class="items-table"
     ng-show="rows.length"
     ng-keyup="handleKeyup($event)">

    <div style="height: 65px; background: lightgray; padding-top: 3px;">
        <div style="display: flex;">
            <div style="width: 10%;">
                <button class="glyphicon glyphicon-shopping-cart sell-icon"
                        ng-click="sellThis()"
                        ng-show="canRelease"
                        title="Продать">
                </button>
            </div>
            <div class="print-icon-on-selling-modal">
                <print-menu
                        report-list-visible="reportListVisible"
                        report-id="undefined"
                        reports = "reports">
                </print-menu>

            </div>
            <div style="width: 20%;">
                <comment-input disabled="user.role !== 'ROLE_ADMIN'" ng-model="comment"></comment-input>
            </div>
            <div style="width: 3px;"></div>
            <div style="width: 25%;">
                <buyer-input buyer="buyer"></buyer-input>
            </div>
            <div style="width: 3px;"></div>
            <div style="width: 40%;" class="total-sum-on-selling-modal">
                <on-fly-calc-totals totals="totals"></on-fly-calc-totals>
            </div>
        </div>
    </div>

<!--    unprintable-->
    <table class="table table-bordered table-responsive">
        <thead class="pane-thead">
            <td style="width: 60px;">
                <sortable-column
                        field = "filter.sortField"
                        listening-field = "'$index'"
                        reverse-order = "filter.reverseOrder"
                        column-name = "Номер">
                </sortable-column>
            </td>
            <td>
                <sortable-column
                        field = "filter.sortField"
                        listening-field = "'item.name'"
                        reverse-order = "filter.reverseOrder"
                        column-name = "Наименование">
                </sortable-column>
            </td>
            <td style="width: 70px;">Ед.изм.</td>
            <td style="width: 70px;">
                <sortable-column
                        field = "filter.sortField"
                        listening-field = "'currentQuantity'"
                        reverse-order = "filter.reverseOrder"
                        column-name = "Доступно, ед.">
                </sortable-column>
            </td>
            <td style="width: 83px;">НДС %</td>
            <td style="width: 95px;">
                <sortable-column
                        field = "filter.sortField"
                        listening-field = "'quantity'"
                        reverse-order = "filter.reverseOrder"
                        column-name = "Продаем, ед.">
                </sortable-column>
            </td>
            <td style="width: 120px;">
                <sortable-column
                        field = "filter.sortField"
                        listening-field = "'price'"
                        reverse-order = "filter.reverseOrder"
                        column-name = "Цена, руб., коп.">
                </sortable-column>
            </td>
            <td style="width: 100px;">
                <sortable-column
                        field = "filter.sortField"
                        listening-field = "'(quantity * price).toFixed(2)'"
                        reverse-order = "filter.reverseOrder"
                        column-name = "Сумма, руб., коп.">
                </sortable-column>
                <span style="font-weight: lighter;" title="Скидка" ng-if="buyer.discount > 0">
                        {{ "применена скидка в размере " + buyer.discount + "%" }}
                </span>
            </td>
            <td style="width: 60px;">
                <pane-rows-eraser delete-rows="deleteRowsWithTracking()"
                                  is-hidden="(user.actsAllowed.indexOf('erasesTrackingEnabled')>-1 && !(buyer.id > 0))">
                </pane-rows-eraser>
            </td>
        </thead>
        <tbody>
            <tr class="hoverable" ng-repeat="x in rows | orderBy:filter.sortField:filter.reverseOrder track by $index">
                <td class="price-data" title="Номер">{{ $index + 1 }}</td>
                <td title="{{'по ' + x.doc.name + ' от ' + x.doc.date + ' от ' + x.doc.supplier.name}}">
                    <span>{{ x.item.name + "(" + x.item.ean + ")"}}</span>
                    <span style="color: white; font-weight: bold;">
                        {{x.item.section.name}}
                    </span>
                    <div>
                        <span style="position: relative;" class="input-notification">
                            <section-overhead-percentage-indicator
                                descr = "Огр. наценки:"
                                percentage = x.item.section.percOverheadLimit>
                            </section-overhead-percentage-indicator>
                        </span>
                    </div>
                </td>
                <td class="text-table-row" title="Единица измерения">{{ x.item.unit }}</td>
                <td class="text-table-row" title="Текущее количество">{{ x.currentQuantity }}</td>
                <td class="hoverable common-number-input" title="ставка НДС">
                    <pane-quantity-input value-field="vat" input-value="x"
                                         change-value = "checkRows()"></pane-quantity-input>
                </td>
                <td class="hoverable for-sale"
                    ng-class="{'warning-input': x.quantity === 0 || x.quantity === null}"
                    title="К продаже">
                    <div>
                        <button class='change-quantity-btn'
                                ng-click='openQuantityChangerModal(x.item.id)'>
                            <span unit-sensitive unit="x.item.unit" quantity="x.quantity"></span>
                        </button>
                    </div>
                </td>
                <td class="hoverable common-number-input" title="Цена продажи">
                    <pane-quantity-input value-field="price" read-only="buyer.sellByComingPrices"
                                         input-value="x" change-value="checkRows()"></pane-quantity-input>
                </td>
                <td class="text-table-row" title="Сумма">
                    <span ng-class="{'discounted-sum': buyer.discount > 0}">
                        {{ (x.quantity * x.price).toFixed(2) }}
                    </span>
                    <div>
                        <span class="price-out-on-coming-pane" title="Сумма со скидкой" ng-if="buyer.discount > 0">
                            {{ (x.quantity*(x.price - x.price * buyer.discount/100)).toFixed(2) }}
                        </span>
                    </div>
                </td>
                <td>
                    <pane-rows-eraser
                            delete-rows="deleteRowsWithTracking(x.item.id)"
                            is-hidden="(user.actsAllowed.indexOf('erasesTrackingEnabled')>-1 && !(buyer.id > 0))
                            || (user.actsAllowed.indexOf('erasesTrackingEnabled') ===-1 && x.quantity > 0)">
                    </pane-rows-eraser>
                </td>
            </tr>
        </tbody>
    </table>
</div>