<pane-shader active="requestParams.requestsQuantity"></pane-shader>
<div>
    <quantity-changer-modal
            check-input = 'checkRows()'
            after-close = 'quantityChangerModalCloseWhenSellingReturns()'
            modal-data="quantityChangerModalData">
    </quantity-changer-modal>
</div>
<div>
    <text-edit-modal
            check-input = 'checkRows()'
            after-close = 'textEditModalClose()'
            modal-data="textEditModalData">
    </text-edit-modal>
</div>
<selling-modal modal-config="sellingModalConfig"></selling-modal>

<div class="menu-panel unprintable" ng-keyup="handleKeyup($event)">

        <div class = "blank-search-row hoverable" ng-click="blankSearch()">
            <pane-search-input
                    input-value = 'filter.ean' keypress-handler="setEanPrefix" input-id="searchInputId">
            </pane-search-input>
            <span style="margin-left: 5px;"
                  class="selling-warning" ng-show="warning.length">
            {{warning}}
        </span>
        </div>

    <button class='glyphicon glyphicon-arrow-down pane-searchinput-btn'
            title="найти по фрагменту в наименовании"
            ng-disabled = "filter.ean.length === 0"
            ng-click="filter.searchString = filter.ean">
    </button>

    <div class="pane-right-menu">
        <div class="coming-pane-right-menu-option" title="Напечатать">
            <print-menu
                ng-show="rows.length > 0"
                report-id="undefined"
                reports = 'reports'>
            </print-menu>
        </div>

        <div class="coming-pane-right-menu-option">
            <span class="glyphicon glyphicon-refresh"
                  ng-click="calcTotalsAndRefresh()">
            </span>
        </div>
        <div class="coming-pane-right-menu-option">
            <common-filter filter="filter" reset-filter="resetFilter()"></common-filter>
        </div>
    </div>

</div>
<div class="items-table">

    <div style="display: flex;">
        <div class="on-pane-totals-container">
            <div ng-show="rows.length > 0">
                <totals totals="totals"></totals>
            </div>
        </div>
        <div class="quick-filter-container">
            <quick-filter filter="filter"></quick-filter>
        </div>
    </div>
    <table class="table table-bordered table-responsive">
        <thead class="pane-thead" ng-show="rows.length">
            <td style="width: 4%;">
                <span class="sortable-thead-value" ng-click="filter.sortField='id'">Номер</span>
                <span>
                    <sorting-row listening-field="'id'" field="filter.sortField"
                             sort-direction="filter.sortDirection">
                    </sorting-row>
                </span>
            </td>
            <td style="width: 10%;" ng-show="!filter.groupByItems">
                <span class="sortable-thead-value" ng-click="filter.sortField='date'">Дата</span>
                <span>
                    <sorting-row listening-field="'date'" field="filter.sortField"
                                 sort-direction="filter.sortDirection">
                    </sorting-row>
                </span>
                <span>, продавец</span>
            </td>
            <td>
                <span class="sortable-thead-value" ng-click="filter.sortField='coming.item.name'">Наименование</span>
                <span>
                    <sorting-row listening-field="'coming.item.name'" field="filter.sortField"
                             sort-direction="filter.sortDirection">
                    </sorting-row>
                </span>
                <span class="sortable-thead-value" ng-click="filter.sortField='coming.stock.name'">(склад,</span>
                <span>
                    <sorting-row listening-field="'coming.stock.name'" field="filter.sortField"
                             sort-direction="filter.sortDirection">
                    </sorting-row>
                </span>
                <span class="sortable-thead-value" ng-click="filter.sortField='coming.item.section.name'">секция)</span>
                <span>
                    <sorting-row listening-field="'coming.item.section.name'" field="filter.sortField"
                             sort-direction="filter.sortDirection">
                    </sorting-row>
                </span>

                <div class="page-picker-on-sold-pane unprintable">
                    <div>
                        <page-picker page="filter.page" pages="pages"></page-picker>
                    </div>
                </div>
            </td>
            <td style="width: 6%;">
                <span class="sortable-thead-value" ng-click="filter.sortField='availQuantityByEan'">Остаток</span>
                <span>
                    <sorting-row listening-field="'availQuantityByEan'" field="filter.sortField"
                                 sort-direction="filter.sortDirection">
                    </sorting-row>
                </span>

            </td>
            <td style="width: 6%;">
                <span class="sortable-thead-value" ng-click="filter.sortField='quantity'">Продано</span>
                <span>
                    <sorting-row listening-field="'quantity'" field="filter.sortField"
                                 sort-direction="filter.sortDirection">
                    </sorting-row>
                </span>
            </td>
            <td style="width: 6%;">
                <span class="sortable-thead-value" ng-click="filter.sortField='price'">Цена</span>
                <span>
                    <sorting-row listening-field="'price'" field="filter.sortField"
                                 sort-direction="filter.sortDirection">
                    </sorting-row>
                </span>
            </td>
            <!--<td style="width: 6%;" ng-show="!filter.groupByItems">Сумма</td>-->
            <td style="width: 6%;" ng-show="!filter.groupByItems">
                <span class="sortable-thead-value" ng-click="filter.sortField='sum'">Сумма</span>
                <span>
                    <sorting-row listening-field="'sum'" field="filter.sortField"
                                 sort-direction="filter.sortDirection">
                    </sorting-row>
                </span>
            </td>
            <td style="width: 11%;" ng-show="!filter.groupByItems">
                <span class="sortable-thead-value" ng-click="filter.sortField='buyer.name'">Покупатель</span>
                <span>
                    <sorting-row listening-field="'buyer.name'" field="filter.sortField"
                                 sort-direction="filter.sortDirection">
                    </sorting-row>
                </span>
            </td>
        </thead>
        <tbody ng-show="rows.length">
            <tr class="hoverable middle-rows"
                ng-class='{deletedRow: (x.quantity == 0)}'
                ng-repeat="x in rows track by $index">
                <td class="price-data" title="Номер">
                    {{ ($index + 1) + (filter.page - 1)*filter.rowsOnPage }}
                </td>
                <td ng-show="!filter.groupByItems">
                    <pane-date-change-control
                            user="user" row="x" change-item-date="changeItemDate"
                        requests-quantity="requestParams.requestsQuantity">
                    </pane-date-change-control>
                    <span class="clickable-filter-value item-additional-info-on-cp"
                          style="margin-left: 20px;"
                          ng-click = 'filter.fromDate = x.date'>
                                    {{ x.date | date:'dd-MM-yyyy HH:mm' }}
                    </span>
                    <span class="price-out-on-coming-pane" title="Продавец">{{ x.user.name }}</span>
                </td>
                <td>
                    <item-row-on-panes row="x.coming" filter="filter"></item-row-on-panes>
                </td>
                <td class="price-data"
                    ng-class="{'available-by-ean': (x.availQuantityByEan <= 3) && (x.quantity > 0)}">
                    <span ng-if="x.availQuantityByEan!=null">
                        <span style="font-weight: bold;">
                            {{x.availQuantityByEan}}
                        </span>
                        <span style="font-size: 16px;">{{' ' + x.coming.item.unit}}</span>
                    </span>
                </td>
                <td class="price-data" style="font-size: 30px;">{{ x.quantity }}</td>
                <td class="price-data" style="font-size: 30px; font-style: italic;" title="Цена">{{ x.price }}</td>
                <td class="price-data" style="text-decoration: underline; font-style: italic;"
                    title="Сумма" ng-show="!filter.groupByItems">
                    {{ x.sum }}
                </td>
                <td style="text-align: end; line-height: 1.1;"  ng-show="!filter.groupByItems">
                    <!--<div class="dropdown hoverable" style=" position: absolute;">-->
                        <div class="unprintable" style="text-align: left;"
                             ng-if="(user.role == 'ROLE_ADMIN' || user.actsAllowed.indexOf('return') > -1)">
                            <button class="glyphicon glyphicon-repeat sell-icon-on-coming-pane btn-on-pane"
                                    ng-class = "{inherited: x.quantity <= 0}"
                                    ng-disabled = "x.quantity <= 0"
                                    ng-click="makeReturn($index)"
                                    title="Сделать возврат!">
                            </button>
                            <button class="glyphicon glyphicon-pencil sell-icon-on-coming-pane btn-on-pane"
                                    ng-class = "{inherited: x.quantity <= 0}"
                                    ng-disabled = "x.quantity <= 0"
                                    ng-click="editItem(x)"
                                    title="Изменить продажу!">
                            </button>
                            <span style="cursor: pointer; float: right">
                                <pane-comment
                                        open-text-modal = "openTextModal(x)"
                                        comment="x.comment" filter="filter">
                                </pane-comment>
                            </span>
                        </div>
                    <span class="clickable-filter-value item-additional-info-on-cp"
                          style="margin-left: 25px;"
                          ng-click = 'filter.buyer = x.buyer'>
                                {{x.buyer.name}}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>