<pane-shader active="requestParams.requestsQuantity"></pane-shader>
<div>
    <quantity-changer-modal
            check-input = 'checkRows()'
            after-close = 'quantityChangerModalCloseWhenSellingReturns()'
            modal-data="quantityChangerModalData">
    </quantity-changer-modal>
</div>
<div>
    <text-edit-modal
            check-input = 'checkRows()'
            after-close = 'textEditModalClose()'
            modal-data="textEditModalData">
    </text-edit-modal>
</div>
<selling-modal modal-config="sellingModalConfig"></selling-modal>

<div class="menu-panel unprintable" ng-keyup="handleKeyup($event)">

        <div class = "blank-search-row hoverable" ng-click="blankSearch()">
            <pane-search-input
                    input-value = 'filter.ean' keypress-handler="setEanPrefix" input-id="searchInputId">
            </pane-search-input>
            <span style="margin-left: 5px;"
                  class="selling-warning" ng-show="warning.length">
                {{warning}}
            </span>
        </div>

    <button class='glyphicon glyphicon-arrow-down pane-searchinput-btn'
            title="найти по фрагменту в наименовании"
            ng-disabled = "filter.ean.length === 0"
            ng-click="filter.groupBySections ? filter.sectionPart = filter.ean :
                                                        filter.searchString = filter.ean">
    </button>

    <div class="pane-right-menu">
        <div class="coming-pane-right-menu-option" title="Напечатать">
            <print-menu
                ng-show="rows.length > 0"
                report-id="undefined"
                reports = 'reports'>
            </print-menu>
        </div>

        <div class="coming-pane-right-menu-option">
            <span class="glyphicon glyphicon-refresh"
                  ng-click="calcTotalsAndRefresh()">
            </span>
        </div>
        <div ng-show = "filter.supplier.id > 0
                    || filter.document.id > 0
                    || filter.section.id > 0
                    || filter.sectionPart.length > 0
                    || filter.searchString.length > 0
                    || filter.comment.length > 0"
                class="coming-pane-right-menu-option">
            <button class="glyphicon glyphicon-magnet"
                    style="background: none; margin-right: -3px;">
            </button>
        </div>
        <div class="coming-pane-right-menu-option">
            <common-filter filter="filter" reset-filter="resetFilter()"></common-filter>
        </div>
    </div>

</div>
<div class="items-table">

    <div style="display: flex;">
        <div class="on-pane-totals-container">
            <div ng-show="rows.length > 0 ">
                <totals totals="totals"
                        switch-values-allowed="user.actsAllowed.indexOf('viewSoldTotalsAllowed')>-1">
                </totals>
            </div>
        </div>
        <div class="quick-filter-container">
            <quick-filter filter="filter"></quick-filter>
        </div>
    </div>
    <current-stock-indicator stock="filter.stock"></current-stock-indicator>
    <table ng-class = "{'fixed-head-table': filter.showInScrollMode,
                        'table table-responsive table-bordered' : !filter.showInScrollMode}">
        <thead class="pane-thead" ng-show="rows.length">
            <td style="width: 4vw;">
                <sortable-column
                        field="filter.sortField"
                        listening-field="'id'"
                        sort-direction="filter.sortDirection"
                        column-name="Номер">
                </sortable-column>
            </td>
            <td style="width: 8vw;" ng-hide="filter.groupByItems || filter.groupBySections">
                <sortable-column
                        field="filter.sortField"
                        listening-field="'date'"
                        sort-direction="filter.sortDirection"
                        column-name="Дата">
                </sortable-column>
                <span>, продавец</span>
            </td>
            <td class="sold-pane-name"
                ng-class = "{'group-by-items-name': filter.groupByItems,
                             'group-by-sections-name': filter.groupBySections}">
                <sortable-column field="filter.sortField"
                                 ng-hide="filter.groupBySections"
                                 listening-field="'coming.item.name'"
                                 sort-direction="filter.sortDirection"
                                 column-name="Наименование, ">
                </sortable-column>
                <sortable-column field="filter.sortField"
                                 listening-field="'coming.item.section.name'"
                                 sort-direction="filter.sortDirection"
                                 column-name=" секция, ">
                </sortable-column>
                <sortable-column field="filter.sortField"
                                 listening-field="'coming.stock.name'"
                                 sort-direction="filter.sortDirection"
                                 column-name="склад">
                </sortable-column>

                <div class="page-picker-on-sold-pane unprintable">
                    <div>
                        <page-picker page="filter.page" pages="pages"></page-picker>
                    </div>
                </div>
            </td>
            <td style="width: 9vw;">
                <sortable-column field="filter.sortField"
                                 listening-field="'availQuantityByEan'"
                                 sort-direction="filter.sortDirection"
                                 column-name="Остаток">
                </sortable-column>
            </td>
            <td style="width: 9vw;">
                <sortable-column field="filter.sortField"
                                 listening-field="'quantity'"
                                 sort-direction="filter.sortDirection"
                                 column-name="Продано">
                </sortable-column>
            </td>
            <td style="width: 8vw;"  ng-hide="filter.groupBySections">
                <sortable-column field="filter.sortField"
                                 listening-field="'price'"
                                 sort-direction="filter.sortDirection"
                                 column-name="Цена">
                </sortable-column>
            </td>
            <td style="width: 5vw;" ng-hide="filter.groupByItems">
                <sortable-column field="filter.sortField"
                                 listening-field="filter.groupBySections ? 'summ' : 'sum'"
                                 sort-direction="filter.sortDirection"
                                 column-name="Сумма">
                </sortable-column>
            </td>
            <td style="width: 11vw;" ng-hide="filter.groupByItems || filter.groupBySections">
                <sortable-column field="filter.sortField"
                                 listening-field="'buyer.name'"
                                 sort-direction="filter.sortDirection"
                                 column-name="Покупатель">
                </sortable-column>
            </td>
            <td style="width: 10vw;" ng-show="filter.groupByItems || filter.groupBySections">
                <sortable-column field="filter.sortField"
                                 listening-field="'incomeSum'"
                                 sort-direction="filter.sortDirection"
                                 column-name="Доход.">
                </sortable-column>
                <sortable-column field="filter.sortField"
                                 listening-field="'incomeSumPercent'"
                                 sort-direction="filter.sortDirection"
                                 column-name="Процент от дохода">
                </sortable-column>
            </td>
        </thead>
        <tbody ng-show="rows.length">
            <tr class="hoverable middle-rows"
                ng-class='{deletedRow: (x.quantity == 0)}'
                ng-repeat="x in rows track by $index">
                <td  style="width: 4vw;" class="price-data" title="Номер">
                    {{ ($index + 1) + (filter.page - 1)*filter.rowsOnPage }}
                </td>
                <td  style="width: 8vw;" ng-hide="filter.groupByItems || filter.groupBySections">
                    <pane-date-change-control
                            user="user" row="x" change-item-date="changeItemDate"
                        requests-quantity="requestParams.requestsQuantity">
                    </pane-date-change-control>
                    <span class="clickable-filter-value item-additional-info-on-cp"
                          style="margin-left: 20px;"
                          ng-click = 'filter.fromDate = x.date'>
                                    {{ x.date | date:'dd-MM-yyyy HH:mm' }}
                    </span>
                    <span class="price-out-on-coming-pane" title="Продавец">{{ x.user.name }}</span>
                </td>
                <td  class="sold-pane-name group-by-sections-name"
                     ng-show="filter.groupBySections">
                    <section-row-on-panes row="x.coming" filter="filter"></section-row-on-panes>
                </td>
                <td  class="sold-pane-name"
                    ng-hide="filter.groupBySections"
                    ng-class = "{'receipt-bottom-underline': (x.receipt.id > 0 && x.receipt.id != rows[$index + 1].receipt.id),
                                 'group-by-items-name': filter.groupByItems,
                                 'sold-composite-item': x.soldCompositeItem.id > 0}">
                    <div class="sold-receipt-item-descr"
                         ng-show="x.receipt.id > 0 && x.receipt.id != rows[$index-1].receipt.id && filter.showNotForDeductions">
                        <span>{{"чек № - " + x.receipt.id}}</span>
                        <span>{{", позиций: " + x.receipt.numberOfPositions + ", "}}</span>
                        <span>{{x.receipt.date | date:'dd.MM.yyyy HH:mm:ss'}}</span>
                        <span>{{"на сумму: " + x.receipt.sum.toFixed(2)}}</span>
                    </div>
                    <div class="sold-composite-item-descr"
                         ng-show="x.soldCompositeItem.id > 0 && x.soldCompositeItem.id != rows[$index-1].soldCompositeItem.id">
                        <span>{{"изделие № -" + x.soldCompositeItem.id}}</span>
                        <span>{{", " + x.soldCompositeItem.item.name}}</span>
                        <span>{{"; кол-во: " + x.soldCompositeItem.quantity}}</span>
                        <span>{{"; на сумму: " + x.soldCompositeItem.sum}}</span>
                    </div>
                    <div class="doc-info-on-sold-pane"
                         ng-hide="filter.showNotForDeductions">
                        <span>{{x.coming.doc.name + ", от "}}</span>
                        <span>{{x.coming.doc.date | date:'dd-MM-yyyy'}}</span>
                        <span>{{x.coming.doc.supplier.name}}</span>
                    </div>
                    <item-row-on-panes row="x.coming" filter="filter"
                                       edit-item="filterByItem">
                    </item-row-on-panes>
                </td>
                <td style="width: 9vw;" class="price-data"
                    ng-class="{'available-by-ean': (x.availQuantityByEan <= 3) && (x.quantity > 0)}">
                    <span ng-if="x.availQuantityByEan!=null">
                        <span style="font-weight: bold;">
                            {{x.availQuantityByEan}}
                        </span>
                        <span style="font-size: 16px;" ng-show="x.coming.item.unit != null">
                            {{' ' + x.coming.item.unit}}
                        </span>
                    </span>
                    <span class='glyphicon glyphicon-warning-sign pane-request-indicator'
                          ng-show='x.mayBeError'>
                    </span>
                </td>
                <td style="width: 9vw; font-size: 30px;" class="price-data">{{ x.quantity }}</td>
                <td style="width: 8vw; font-size: 30px; font-style: italic;"  class="price-data"
                    title="Цена" ng-hide="filter.groupBySections">
                    {{ x.price }}
                </td>
                <td style="width: 5vw; text-decoration: underline; font-style: italic;" class="price-data"
                    title="Сумма" ng-hide="filter.groupByItems">
                    {{ x.sum }}
                </td>
                <td style="width: 10vw; text-align: center; font-style: italic;"
                    title="Доход" ng-show="filter.groupByItems || filter.groupBySections">
                    <span class="income-sum-in-grouped-sellings">{{ x.incomeSum.toFixed(2) }}</span>
                    <div style="text-align: right;">
                        <span style="font-size: 20px;" class="overhead-percentage">
                            {{(x.incomeSumPercent*100).toFixed(2) + "%"}}
                        </span>
                    </div>
                </td>
                <td style="width: 11vw;"
                    class="buyer-name"
                    ng-hide="filter.groupByItems || filter.groupBySections">
                    <!--<div class="dropdown hoverable" style=" position: absolute;">-->
                        <div class="unprintable" style="text-align: left;"
                             ng-if="(user.role == 'ROLE_ADMIN' || user.actsAllowed.indexOf('return') > -1)">
                            <button class="glyphicon glyphicon-repeat sell-icon-on-coming-pane btn-on-pane"
                                    ng-class = "{inherited: x.quantity <= 0}"
                                    ng-disabled = "x.quantity <= 0"
                                    ng-click="makeReturn($index)"
                                    title="Сделать возврат!">
                            </button>
                            <button class="glyphicon glyphicon-pencil sell-icon-on-coming-pane btn-on-pane"
                                    ng-class = "{inherited: x.quantity <= 0}"
                                    ng-disabled = "x.quantity <= 0"
                                    ng-click="editItem(x)"
                                    title="Изменить продажу!">
                            </button>
                            <span style="cursor: pointer; float: right">
                                <pane-comment
                                        open-text-modal = "openTextModal(x)"
                                        comment="x.comment" filter="filter">
                                </pane-comment>
                            </span>
                        </div>
                    <span class="clickable-filter-value item-additional-info-on-cp"
                          style="margin-left: 25px;"
                          ng-click = 'filter.buyer = x.buyer'>
                                {{x.buyer.name}}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>