<span class="glyphicon glyphicon-filter" ng-click="toggleFilter()"></span>
<ul class="coming-filter-settings-list" ng-show="filter.visible" ng-keyup="handleKeyup($event)">

    <li style="text-align: right;" class="filter-row">
        <div class="stock-container-on-coming-filter">
            <stock-picker ng-hide="filter.inventoryModeEnabled"
                    allow-all="filter.allowAllStocks"
                          stock="filter.stock">
            </stock-picker>
        </div>
        <button class="ok-btn-on-coming-filter"
                ng-click="resetFilter()">
            Сбросить фильтр
        </button>
        <button class="clear-btn-on-coming-filter"
                ng-click="toggleFilter()" title="Закрыть">
            Х
        </button>
    </li>

    <li class="filter-row" ng-if = "filter.fromDate != null && filter.toDate != null">
        <date-interval-picker from-date="filter.fromDate"
                              to-date="filter.toDate" picker-enabled="filter.inventoryModeEnabled">
        </date-interval-picker>
    </li>

    <li class="filter-row"
        ng-if = "filter.showInScrollMode != null">
        <input class="filter-checkbox-input" type="checkbox" ng-model="filter.showInScrollMode"/>
        <label style="margin-left: 5%" class="filter-checkbox-name">
            Режим прокрутки: {{(filter.showInScrollMode) ? "Да" : "Нет"}}
        </label>
    </li>

    <li class="filter-row"
        ng-if = "filter.hideNullQuantity != null">
        <input class="filter-checkbox-input" type="checkbox" ng-model="filter.hideNullQuantity"/>
        <label style="margin-left: 5%" class="filter-checkbox-name">
            Убрать нулевые остатки: {{(filter.hideNullQuantity) ? "Да" : "Нет"}}
        </label>
    </li>

    <li class="filter-row"
        ng-if = "filter.groupByItems != null">
        <input class="filter-checkbox-input" type="checkbox" ng-model="filter.groupByItems"/>
        <label style="margin-left: 5%" class="filter-checkbox-name">
            Группировать по товару: {{(filter.groupByItems) ? "Да" : "Нет"}}
        </label>
    </li>


    <li class="filter-row"
        ng-if = "filter.mayBeError != null">
        <input class="filter-checkbox-input" type="checkbox" ng-model="filter.mayBeError"/>
        <label style="margin-left: 5%" class="filter-checkbox-name">
            Предполагается сбой: {{(filter.mayBeError) ? "Да" : "Нет"}}
        </label>
    </li>

    <li class="filter-row"
        ng-if = "filter.alwaysOpenQuantityChangerModal != null">
        <input class="filter-checkbox-input" type="checkbox" ng-model="filter.alwaysOpenQuantityChangerModal"/>
        <label style="margin-left: 5%" class="filter-checkbox-name">
            Всегда открывать окно подбора: {{(filter.alwaysOpenQuantityChangerModal) ? "Да" : "Нет"}}
        </label>
    </li>

    <li class="filter-row"
        ng-if = "filter.allowUploadingWithBlankFilter != null">
        <input class="filter-checkbox-input" type="checkbox" ng-model="filter.allowUploadingWithBlankFilter"/>
        <label style="margin-left: 5%" class="filter-checkbox-name">
            Разрешить автоподбор с пустым фильтром: {{(filter.allowUploadingWithBlankFilter) ? "Да" : "Нет"}}
        </label>
    </li>


    <li class="filter-row" style="display: inline-flex;" ng-if = "filter.rowsOnPage != null">
        <input class="form-control" style="width: 30%;" type="number" min="1"
               ng-model="filter.rowsOnPage"/>
        <label style="margin-left: 1%;margin-top: 1%; color: coral;">Количество строк на странице</label>
    </li>

    <li class="filter-row"
        ng-hide="filter.stock.allowAll"
        ng-if = "filter.inventoryModeEnabled != null">
        <input class="filter-checkbox-input" type="checkbox" ng-model="filter.inventoryModeEnabled"/>
        <label style="margin-left: 5%" class="filter-checkbox-name">
            Режим инвентаризации: {{(filter.inventoryModeEnabled) ? "Да" : "Нет"}}
        </label>
    </li>

    <li class="filter-row" ng-hide="filter.inventoryModeEnabled" ng-if = "filter.comments != null">
        <div style="display: flex;">
            <input class="form-control filter-row-two-elements" type="text"
                   list="commentsList"
                   placeholder="Комментарий"
                   ng-model="filter.comment"/>

            <datalist id="commentsList">
                <option ng-repeat="x in filter.comments">
                    {{x}}
                </option>
            </datalist>
            <eraser class="filter-eraser" data="filter.comment"></eraser>
        </div>
    </li>


    <li class="filter-row"
        ng-if = "filter.strictCommentSearch != null">
        <input class="filter-checkbox-input" type="checkbox" ng-model="filter.strictCommentSearch"/>
        <label style="margin-left: 5%" class="filter-checkbox-name">
            Строгое совпадение комментария: {{(filter.strictCommentSearch) ? "Да" : "Нет"}}
        </label>
    </li>

    <li class="filter-row with-margin-bottom"
        ng-if = "filter.document != null"
        ng-hide="filter.inventoryModeEnabled" >
        <doc-input doc="filter.document"></doc-input>
    </li>

    <li class="filter-row" ng-if = "filter.buyer != null">
        <buyer-input buyer="filter.buyer" buyers="filter.buyers"></buyer-input>
    </li>

    <li class="filter-row with-margin-bottom" ng-if = "filter.supplier != null"
        ng-hide="filter.inventoryModeEnabled">
        <supplier-input supplier="filter.supplier" suppliers="filter.suppliers"></supplier-input>
    </li>

    <!--ng-readonly="filter.calcTotal"-->
    <li class="filter-row"
        ng-if = "filter.sectionPart != null">
        <div style="display: flex;">
            <input class="form-control filter-row-two-elements" type="text"
                   placeholder="Поиск по фрагменту наименования секции"
                   ng-change="filter.section.name=filter.sectionPart"
                   ng-model="filter.sectionPart"/>
            <eraser class="filter-eraser" data="filter.sectionPart"></eraser>
        </div>
    </li>

    <li class="filter-row with-margin-bottom"
        ng-if = "filter.section != null">
        <div style="display: flex;">
            <div class="filter-row-two-elements">
                <item-section-input
                        section="filter.section"
                        sections="filter.sections">
                </item-section-input>
            </div>
            <button class='glyphicon glyphicon-arrow-up item-arrow-up-btn'
                  title="найти по фрагменту"
                  ng-click="filter.sectionPart = filter.section.name">
            </button>
        </div>
    </li>

    <!--ng-readonly="filter.calcTotal"-->
    <li class="filter-row">
        <div style="display: flex;">
            <input class="form-control filter-row-two-elements" type="text"
                   placeholder="Поиск по фрагменту наименования товара"
                   ng-change="filter.item.name=filter.searchString"
                   ng-model="filter.searchString"/>
            <eraser class="filter-eraser" data="filter.searchString"></eraser>
        </div>
    </li>

    <li class="filter-row">
        <div style="display: flex;">
            <div class="filter-row-two-elements">
                <item-input item="filter.item"></item-input>
            </div>
            <button class='glyphicon glyphicon-arrow-up item-arrow-up-btn'
                  title="найти по товару"
                  ng-click="filter.searchString = filter.item.name">
            </button>
        </div>
    </li>

    <li class="filter-row" ng-if="filter.compositeItem != null">
        <div style="display: flex;">
            <div class="filter-row-two-elements">
                <composite-item-input item="filter.compositeItem"></composite-item-input>
            </div>
        </div>
    </li>

<!-- -&#45;&#45;-->


</ul>