<!--<span>с {{filter.fromDate | date:'dd.MM.yyyy'}}-->
                    <!--по {{filter.toDate | date:'dd.MM.yyyy'}},-->
<!--</span>-->

    <div class="doc-date-pickers">
        <span>c</span>
        <!--ng-readonly="filter.calcTotal"-->
        <input date-input class="form-control" type="date"
               ng-readonly = "filter.inventoryModeEnabled"
                ng-model="filter.fromDate"/>
        <span>по</span>
        <!--ng-readonly="filter.calcTotal"-->
        <input date-input class="form-control" type="date"
           ng-readonly = "filter.inventoryModeEnabled"
        ng-model="filter.toDate"/>
    </div>

    <span> {{filter.stock.name}}</span>

    <div class="dropdown quick-filter-comment"
         ng-show="filter.comment.length > 0">
        <span>{{filter.comment}}</span>
        <ul class="dropdown-menu hoverable quick-filter-comment-delete background-white">
            <word-from-phrase-eraser
                    phrase="filter.comment"
                    title="фрагмент комментария">
            </word-from-phrase-eraser>
        </ul>
    </div>

    <div class="dropdown quick-filter-comment"
         ng-show="filter.ean.length === 13" >
            <span>
                <span>{{filter.ean}}</span>
            </span>
        <ul class="dropdown-menu hoverable quick-filter-comment-delete">
            <li ng-click="filter.ean = ''">
                <span>Очистить штрихкод</span>
                <span class="glyphicon glyphicon-remove"></span>
            </li>
        </ul>
    </div>

    <div class="dropdown quick-filter-comment"
         ng-show="filter.document.id > 0" >
        <span>
            <span>{{filter.document.name + ' от '}}</span>
            <span>{{filter.document.date | date:'dd.MM.yyyy'}}</span>
        </span>
        <ul class="dropdown-menu hoverable quick-filter-comment-delete">
            <li ng-click="filter.document = getEmptyDocument()">
                <span>Очистить документ</span>
                <span class="glyphicon glyphicon-remove"></span>
            </li>
        </ul>
    </div>

    <div class="dropdown quick-filter-comment"
         ng-show="filter.supplier.id > 0">
        <span>{{filter.supplier.name}}</span>
        <ul class="dropdown-menu hoverable quick-filter-comment-delete">
            <li ng-click="filter.supplier = getEmptySupplier()">
                <span>Очистить поставщика</span>
                <span class="glyphicon glyphicon-remove"></span>
            </li>
        </ul>
    </div>

    <div class="dropdown quick-filter-comment"
         ng-show="filter.section.id > 0">
        <span>{{filter.section.name}}</span>
        <ul class="dropdown-menu hoverable quick-filter-comment-delete">
            <li ng-click="filter.section = getEmptySection()">
                <span>Очистить секцию</span>
                <span class="glyphicon glyphicon-remove"></span>
            </li>
        </ul>
    </div>

    <div class="dropdown quick-filter-comment"
         ng-show="filter.item.id > 0">
        <span>{{filter.item.name}}</span>
        <ul class="dropdown-menu hoverable quick-filter-comment-delete">
            <li ng-click="filter.item = getEmptyItem()">
                <span>Очистить товар</span>
                <span class="glyphicon glyphicon-remove"></span>
            </li>
        </ul>
    </div>

    <div class="dropdown quick-filter-comment"
         ng-show="filter.buyer.id > 0">
        <span>{{filter.buyer.name}}</span>
        <ul class="dropdown-menu hoverable quick-filter-comment-delete">
            <li ng-click="filter.buyer = getEmptyBuyer()">
                <span>Очистить покупателя</span>
                <span class="glyphicon glyphicon-remove"></span>
            </li>
        </ul>
    </div>

    <span ng-show="filter.sectionPart.length > 0">
        <div class="dropdown quick-filter-comment">
            <span>{{filter.sectionPart}}</span>
            <ul class="dropdown-menu hoverable quick-filter-comment-delete background-white">
                <word-from-phrase-eraser
                    phrase="filter.sectionPart"
                    title="фрагмент секции">
                </word-from-phrase-eraser>
            </ul>
        </div>
    </span>

    <div class="dropdown quick-filter-comment"
         ng-show="filter.searchString.length > 0">
        <span>{{filter.searchString}}</span>
        <ul class="dropdown-menu hoverable quick-filter-comment-delete background-white">
            <word-from-phrase-eraser
                    phrase="filter.searchString"
                    title="фрагмент товара">
            </word-from-phrase-eraser>
            <li style="text-align: center">
                <button class="glyphicon glyphicon-arrow-right send-item-name-to-section-btn"
                        ng-click="filter.sectionPart=filter.searchString">
                </button>
            </li>
        </ul>
    </div>
