<pane-shader active="requestParams.requestsQuantity"></pane-shader>
<div>
    <!--check-input = 'checkRows()'-->
    <!--after-close = 'blankSearch()'    -->
    <quantity-changer-modal
            after-close = "afterCloseQuantityChangerModal()"
            modal-data="quantityChangerModalData">
    </quantity-changer-modal>
</div>
<div class="menu-panel unprintable" ng-keyup="handleKeyup($event)">

    <div class = "blank-search-row hoverable"
         ng-click="blankSearch()">
        <!--<input class="searchinput" type="text"-->
               <!--id="coming-pane"-->
               <!--name="search" placeholder="Поиск приходов..."-->
               <!--ng-model="filter.ean"-->
               <!--ng-keydown="setEanPrefix($event)"/>-->
        <pane-search-input
                input-value = 'filter.ean' keypress-handler="setEanPrefix" input-id="searchInputId">
        </pane-search-input>
        <span style="margin-left: 5px;"
              class="selling-warning" ng-show="warning.length">
            {{warning}}
        </span>
    </div>

    <button class='glyphicon glyphicon-arrow-down pane-searchinput-btn'
            title="найти по фрагменту в наименовании"
            ng-disabled = "filter.ean.length === 0"
            ng-click="filter.searchString = filter.ean">
    </button>

    <div class="pane-right-menu">
        <div class="coming-pane-right-menu-option" title="Напечатать">
            <print-menu
                    ng-show="rows.length > 0"
                    report-id="undefined"
                    report-list-visible="reportListVisible"
                    reports = 'reports'>
            </print-menu>
        </div>
        <div class="coming-pane-right-menu-option">
            <span class="glyphicon glyphicon-refresh"
                ng-click="calcTotalsAndRefresh()">
            </span>
        </div>
        <div class="coming-pane-right-menu-option">
            <common-filter filter="filter"
                           reset-filter="resetFilter()">
            </common-filter>
        </div>
    </div>
</div>
<div class="items-table">
    <div style="display: flex;">
        <div style="width: 65%; text-align: center;">
            <div ng-show="rows.length > 0">
                <totals totals="totals"></totals>
            </div>
        </div>
        <div class="quick-filter-container" style="width: 35%;">
            <quick-filter filter="filter"></quick-filter>
        </div>
    </div>
    <div class="inventory-panel unprintable" ng-show = "filter.inventoryModeEnabled">

        <inventory-panel
                set-inventory-values = "setInventoryValues()"
                apply-inventory-results="applyInventoryResults()"
                auto-open-quantity-changer-modal="autoOpenQuantityChangerModalInInventoryMode"
                is-enabled-set-inventory-values = "!totals.length && rows.length"
                is-enabled-apply-inventory-results = "totals.length && rows.length">
        </inventory-panel>
    </div>

    <table class="table table-bordered table-responsive">
        <thead class="pane-thead" ng-show="rows.length">
        <td style="width: 4%;">
            <span class="sortable-thead-value" ng-click="filter.sortField='id'">Номер</span>
            <span>
                <sorting-row listening-field="'id'" field="filter.sortField"
                             sort-direction="filter.sortDirection">
                </sorting-row>
            </span>
        </td>
        <td style="width: 20%;" ng-hide = "filter.inventoryModeEnabled">
            <span class="sortable-thead-value" ng-click="filter.sortField='doc.date'">Дата</span>
            <span>
                <sorting-row listening-field="'doc.date'" field="filter.sortField"
                             sort-direction="filter.sortDirection">
                </sorting-row>
            </span>
            <span class="sortable-thead-value" ng-click="filter.sortField='doc.name'">, документ,</span>
            <span>
                <sorting-row listening-field="'doc.name'" field="filter.sortField"
                             sort-direction="filter.sortDirection">
                </sorting-row>
            </span>
            <span class="sortable-thead-value" ng-click="filter.sortField='doc.supplier.name'">поставщик</span>
            <span>
                <sorting-row listening-field="'doc.supplier.name'" field="filter.sortField"
                             sort-direction="filter.sortDirection">
                </sorting-row>
            </span>
        </td>
        <td>
            <!--<span class="sortable-thead-value">Наименование (склад, секция)</span>-->
            <span class="sortable-thead-value" ng-click="filter.sortField='item.name'">Наименование</span>
            <span>
                <sorting-row listening-field="'item.name'" field="filter.sortField"
                             sort-direction="filter.sortDirection">
                </sorting-row>
            </span>
            <span class="sortable-thead-value" ng-click="filter.sortField='stock.name'">(склад,</span>
            <span>
                <sorting-row listening-field="'stock.name'" field="filter.sortField"
                             sort-direction="filter.sortDirection">
                </sorting-row>
            </span>
            <span class="sortable-thead-value" ng-click="filter.sortField='item.section.name'">секция)</span>
            <span>
                <sorting-row listening-field="'item.section.name'" field="filter.sortField"
                             sort-direction="filter.sortDirection">
                </sorting-row>
            </span>
            <div class="page-picker-on-sold-pane">
                <div>
                    <page-picker page="filter.page" pages="pages"></page-picker>
                </div>
            </div>
        </td>
        <td style="width: 6%;" ng-hide = "filter.inventoryModeEnabled">
            <span class="sortable-thead-value" ng-click="filter.sortField='currentQuantity'">Факт (</span>
            <span>
                <sorting-row listening-field="'currentQuantity'" field="filter.sortField"
                             sort-direction="filter.sortDirection">
                </sorting-row>
            </span>
            <span class="sortable-thead-value" ng-click="filter.sortField='quantity'">пришло)</span>
            <span>
                <sorting-row listening-field="'quantity'" field="filter.sortField"
                             sort-direction="filter.sortDirection">
                </sorting-row>
            </span>
        </td>
        <td style="width: 6%;" ng-hide = "filter.inventoryModeEnabled">
            <span class="sortable-thead-value" ng-click="filter.sortField='priceIn'">Цена</span>
            <span>
                <sorting-row listening-field="'priceIn'" field="filter.sortField"
                             sort-direction="filter.sortDirection">
                </sorting-row>
            </span>
        </td>
        <td style="width: 6%;">
            <span class="sortable-thead-value" ng-click="filter.sortField='sum'">Сумма</span>
            <span>
                <sorting-row listening-field="'sum'" field="filter.sortField"
                             sort-direction="filter.sortDirection">
                </sorting-row>
            </span>
        </td>
        <td style="width: 6%;"  ng-show = "filter.inventoryModeEnabled">
            <span class="sortable-thead-value" ng-click="filter.sortField='quantity'">Количество</span>
            <span>
                <sorting-row listening-field="'quantity'" field="filter.sortField"
                             sort-direction="filter.sortDirection">
                </sorting-row>
            </span>
        </td>
        <td style="width: 6%;"  ng-show = "filter.inventoryModeEnabled">
            <span class="sortable-thead-value" ng-click="filter.sortField='currentQuantity'">
                Факт.кол-во,
            </span>
            <span>
                <sorting-row listening-field="'currentQuantity'" field="filter.sortField"
                             sort-direction="filter.sortDirection">
                </sorting-row>
            </span>
            <span class="sortable-thead-value" ng-click="filter.sortField='lastChangeDate'">
                дата ввода
            </span>
            <span>
                <sorting-row listening-field="'lastChangeDate'" field="filter.sortField"
                             sort-direction="filter.sortDirection">
                </sorting-row>
            </span>
        </td>
        <td style="width: 6%;"  ng-show = "filter.inventoryModeEnabled">
            <span class="sortable-thead-value" ng-click="filter.sortField='currentSum'">
                Сумма расхождения
            </span>
            <span>
                <sorting-row listening-field="'currentSum'" field="filter.sortField"
                             sort-direction="filter.sortDirection">
                </sorting-row>
            </span>
        </td>
        <td class="unprintable" style="width: 11%;"
            ng-hide="filter.inventoryModeEnabled">Автор, комментарий
        </td>
        </thead>
        <tbody ng-show="rows.length">
            <tr class="hoverable middle-rows"
                ng-class='{deletedRow: (x.quantity == 0)}'
                ng-repeat="x in rows track by $index">
                <td class="price-data">{{ ($index + 1) + (filter.page - 1)*filter.rowsOnPage }}</td>
                <td  ng-hide="filter.inventoryModeEnabled">
                    <span title="Дата прихода"
                          class="clickable-filter-value"
                          ng-click = "filter.fromDate = x.doc.date">
                        {{ x.doc.date | date:'dd.MM.yy' }}
                    </span>
                    <span title="Документ"
                          class="clickable-filter-value"
                        ng-click = "filter.document = x.doc">
                        {{x.doc.name}}
                    </span>
                    <span class="price-out-on-coming-pane clickable-filter-value" title="Поставщик"
                        ng-click = "filter.supplier = x.doc.supplier">
                        {{x.doc.supplier.name}}
                    </span>
                </td>
                <td>
                    <div class="dropdown" style="position: absolute;">
                        <span class="glyphicon glyphicon-filter unprintable"></span>
                        <ul class="dropdown-menu hoverable comments-container item-title">
                            <li class="clickable-filter-value"
                                ng-click="filter.ean = x.item.ean">
                                {{x.item.ean}}
                            </li>
                            <phrase-by-word-to-filter
                                    filter="filter.searchString"
                                    comment="x.item.name">
                            </phrase-by-word-to-filter>
                        </ul>
                    </div>

                    <span class="item-name-on-coming-item-pane"
                          ng-click="editItem($index)">{{ x.item.name }}
                    </span>

                    <div style="text-align: right; margin-right: 12px;">
                        <span class="clickable-filter-value item-additional-info-on-cp"
                              style="margin-left: 3px;"
                              ng-click = 'filter.stock = x.stock'>
                                {{x.stock.name + '. '}}
                        </span>
                        <span class="clickable-filter-value item-additional-info-on-cp"
                              ng-click = 'filter.section = x.item.section'>
                                    {{x.item.section.name}}
                        </span>
                        <span style="position: absolute;">
                            <div class="dropdown">
                                <span class="glyphicon glyphicon-filter unprintable"></span>
                                <ul class="dropdown-menu hoverable comments-container">
                                    <phrase-by-word-to-filter
                                            filter="filter.sectionPart"
                                            comment="x.item.section.name">
                                    </phrase-by-word-to-filter>
                                </ul>
                            </div>
                        </span>
                    </div>

                </td>
                <td class="price-data" ng-hide = "filter.inventoryModeEnabled"
                    ng-class='{sold: !(x.quantity == x.currentQuantity)}'>
                        {{ x.currentQuantity }}
                    <span class="price-out-on-coming-pane" title="Количество по приходу">
                        {{ '/ ' + x.quantity}}
                    </span>
                    {{'(' + x.item.unit + ')'}}
                </td>
                <td class="price-data" ng-hide = "filter.inventoryModeEnabled">
                    {{ x.price}}
                    <span class="price-out-on-coming-pane" title="Цена розничная">
                        {{'/ ' + x.priceOut}}
                    </span>
                </td>
                <td class="price-data" title="Сумма">{{ x.sum }}</td>
                <td class="price-data" ng-show = "filter.inventoryModeEnabled">
                    <span class="price-out-on-coming-pane">
                        {{ x.quantity }}
                    </span>
                    {{'(' + x.item.unit + ')'}}
                </td>
                <td class="price-data" ng-show = "filter.inventoryModeEnabled">
                    <div>
                        <button class='change-quantity-btn'
                                ng-click='openQuantityChangerModalInInventoryMode($index)'>
                            <span unit-sensitive unit="x.item.unit" quantity="x.currentQuantity"></span>
                        </button>
                    </div>
                    <span class = "last-change-inventory-date" ng-hide = "x.lastChangeDate == null">
                        {{x.lastChangeDate | date:'dd.MM.yyyy HH:mm' }}
                    </span>
                </td>
                <td class="price-data" ng-show = "filter.inventoryModeEnabled">
                    <span class="price-out-on-coming-pane"
                          ng-show="(x.currentQuantity * x.sum/x.quantity - x.sum) != 0">
                        {{ ((x.currentQuantity * (x.sum/x.quantity).toFixed(5)).toFixed(2) - x.sum).toFixed(2)}}
                        <span style="font-weight: normal">(</span>
                        <span unit-sensitive unit="x.item.unit" quantity="(x.currentQuantity - x.quantity)">
                        </span>
                        <span style="font-weight: normal">)</span>
                    </span>
                    <span class="glyphicon glyphicon-ok inventory-deviation-ok"
                          ng-show="(x.currentQuantity * x.sum/x.quantity - x.sum) == 0">
                    </span>
                    <span class="inventory-deviation-shortage"
                          ng-show="(x.currentQuantity * x.sum/x.quantity - x.sum) < 0">
                            Недостача
                    </span>
                    <span class="inventory-deviation-surplus"
                          ng-show="(x.currentQuantity * x.sum/x.quantity - x.sum) > 0">
                            Излишек
                    </span>
                </td>
                <td class="unprintable" ng-hide = "filter.inventoryModeEnabled">
                        <div>
                            <button class="glyphicon glyphicon-shopping-cart btn-on-pane
                                    sell-icon-on-coming-pane"
                                    ng-show="x.currentQuantity > 0"
                                    ng-if="user.role == 'ROLE_ADMIN' || x.stock.id === user.stock.id"
                                    ng-click="sellThis(x)"
                                    title="Продать именно его!"></button>
                            <button class="glyphicon glyphicon-send btn-on-pane
                                    sell-icon-on-coming-pane"
                                    title="Переместить именно его!"
                                    ng-show="x.currentQuantity > 0"
                                    ng-if="user.role == 'ROLE_ADMIN' || user.actsAllowed.indexOf('moving') > -1"
                                    ng-click="moveThis(x)"></button>
                            <span style="cursor: pointer; float: right">
                                <pane-comment comment="x.comment" filter="filter"></pane-comment>
                            </span>
                        </div>
                        <span>{{" " + x.user.name + " "}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<coming-modal modal-config="modalConfig"></coming-modal>
<selling-modal modal-config="sellingModalConfig"></selling-modal>
<moving-modal modal-config="movingModalConfig"></moving-modal>