<div ng-transclude></div>

<!--<div class="item-input-on-panes" ng-show="itemInputVisible">-->
<!--    <item-input item="item" get-items="getItemsWithItemInput"></item-input>-->
<!--&lt;!&ndash;    <item-input item="item" get-items="getItems"></item-input>&ndash;&gt;-->
<!--</div>-->
<div class="item-input-on-panes"
     ng-show="item.name.length > 0">
    <item-input item="item" get-items="getItemsWithItemInput"></item-input>
</div>
<div class="item-input-on-panes" ng-show="reportListVisible">
    <buyer-input buyer="buyer"></buyer-input>
</div>
<div>
    <quantity-changer-modal
            check-input = 'checkRows()'
            after-close = 'blankSearch()'
            modal-data="quantityChangerModalData">
    </quantity-changer-modal>
</div>
<div class="menu-panel unprintable" ng-keyup="handleKeyup($event)">

    <div class = "blank-search-row hoverable" ng-click="blankSearch()">
        <pane-search-input
                input-value = 'barcode' keypress-handler="setEanPrefix" input-id="searchInputId">
        </pane-search-input>
        <pane-request-indicator
                requests-quantity="requestParams.requestsQuantity">
        </pane-request-indicator>
        <span style="margin-left: 5px;" class="selling-warning" ng-show="warning.length">
            {{warning}}
        </span>
    </div>

    <button class='glyphicon glyphicon-arrow-up pane-searchinput-btn'
            title="искать по наименованию"
            ng-click="editItem(barcode)">
    </button>

    <div class="pane-right-menu" style="width: auto;">
        <div class="coming-pane-right-menu-option" style="width: 50%; margin-top: 3px;">
            <print-menu
                    report-list-visible="reportListVisible"
                    report-id="undefined"
                    reports = "reports">
            </print-menu>
        </div>
        <div class="coming-pane-right-menu-option">
            <stock-picker allow-all="allowAllStocks" stock="stock"></stock-picker>
        </div>
    </div>

</div>
<current-stock-indicator stock="stock"></current-stock-indicator>
<div class="items-table"
     ng-show="rows.length"
     ng-keydown="handleKeyup($event)">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td colspan="7">
                    <div class="doc-and-supplier-on-new-coming">
                        <div style="width: 65%;">
                            <doc-input doc="doc"></doc-input>
                        </div>
                        <div class="totals-on-new-coming" ng-show="totalsByComingVisible" ng-click="totalsByComingVisible = false">
                            <on-fly-calc-totals totals="totals" descr="цены поступления"></on-fly-calc-totals>
                        </div>
                        <div class="totals-on-new-coming" ng-hide="totalsByComingVisible" ng-click="totalsByComingVisible = true">
                            <on-fly-calc-totals totals="totalsOut" descr="цены реализации"></on-fly-calc-totals>
                        </div>
                    </div>
                </td>
            </tr>
        </thead>
        <div class="add-coming-container-on-new-coming"
             ng-show="canRelease">
            <button class="add-coming-button-on-new-coming"
                    ng-click="makeComing()">
                Оприходовать
            </button>
        </div>
        <thead class="pane-thead">
            <td style="width: 60px;">Номер</td>
            <td>
                <!--Наименование-->
                <sortable-column
                        field = "filter.sortField"
                        listening-field = "'item.name'"
                        reverse-order = "filter.reverseOrder"
                        column-name = "Наименование">
                </sortable-column>
            </td>
            <td style="width: 115px;">
                <div style="border-bottom: 1px solid #ddd;">ЦПП</div>
                <div>% наценки</div>
            </td>
            <td style="width: 100px;">Кол-во</td>
            <td style="width: 150px;">
                <div style="border-bottom: 1px solid #ddd;">Цена ед.</div>
                <div>Сумма</div>
<!--                Сумма-->
            </td>
            <td style="width: 115px;">Цена розн.</td>
            <td>
                <pane-rows-eraser delete-rows="deleteRows()"></pane-rows-eraser>
            </td>
        </thead>
        <tbody>
        <tr class="hoverable" ng-repeat="x in rows | orderBy:filter.sortField:filter.reverseOrder track by $index">
                <td class="hoverable" title="Номер">{{ $index + 1 }}</td>
                <td class="hoverable" title="{{x.item.ean}}">
                    <a href="#" style="color: black; text-decoration: unset;">
                        <span class="item-name-on-coming-item-pane"
                              ng-click="editItem(x.item.name)">
                            {{ x.item.name}}
                        </span>
                    </a>
                     <span style="position: relative;" class="input-notification">
                        <section-overhead-percentage-indicator
                                descr = "Ограничение наценки:"
                                percentage = x.item.section.percOverheadLimit>
                        </section-overhead-percentage-indicator>
                    </span>
                </td>
                <td class="hoverable for-sale" title="Сведения о ценах и наценке первого импортера">
                    <div style="border-bottom: 1px solid #ddd; font-size: 16px;">
                        <pane-quantity-input
                            value-field="firstImpPrice" input-value="x">
                        </pane-quantity-input>
                    </div>
                    <pane-quantity-input
                            value-field="impOverheadPerc" input-value="x">
                    </pane-quantity-input>
                </td>
                <td class="hoverable new-coming-doc-pricein"
                    title="Количество ед.">
                    <div>
                        <button class='change-quantity-btn'
                                ng-click='openQuantityChangerModal(x.item.id)'>
                            <span unit-sensitive unit="x.item.unit" quantity="x.quantity"></span>
                        </button>
                    </div>
                </td>
                <td class="hoverable common-number-input" title="цена единицы и сумма">
                    <div style="border-bottom: 1px solid #ddd; font-size: 16px;">
                            <span style="position: absolute;  margin-left: 68px; margin-top: -16px;">
                                <overhead-percentage-indicator
                                    price-out="x.firstImpPrice > 0
                                    ? (x.priceOut - (x.price - x.firstImpPrice * (1 + x.impOverheadPerc/100))) : x.priceOut"
                                    price="x.firstImpPrice > 0 ? x.firstImpPrice : x.price">
                                </overhead-percentage-indicator>
                            </span>
                        {{x.price}}
                    </div>
                    <pane-quantity-input value-field="sum" input-value="x">
                    </pane-quantity-input>
                </td>
                <td class="hoverable common-number-input" title="Цена продажи">
                    <pane-quantity-input value-field="priceOut" input-value="x"
                                         change-value="checkRows()"></pane-quantity-input>
                </td>
                <td style="text-align: center; padding-top: 14px; vertical-align: middle!important;">
                    <pane-rows-eraser delete-rows="deleteRows(x.item.id)" is-hidden="x.quantity > 0"></pane-rows-eraser>
                </td>
            </tr>
        </tbody>
    </table>
<!--    <div class="add-coming-container-on-new-coming"-->
<!--         ng-show="canRelease">-->
<!--        <button class="add-coming-button-on-new-coming"-->
<!--                ng-click="makeComing()">-->
<!--            Оприходовать-->
<!--        </button>-->
<!--    </div>-->
</div>