<div ng-hide='modalConfig.hidden' class='trans-layer'></div>
<div class='modal-container' ng-class='{modalactive: !modalConfig.hidden}' ng-transclude>
    <span class="glyphicon glyphicon-remove item-blank close-selling-modal" ng-click="closeModal()"></span>
    <div class="items-table table-responsive"
         ng-keyup="handleKeyup($event)">
        <current-stock-indicator stock="stockFrom" descr=" (Источник)"></current-stock-indicator>
        <div style="height: 65px; border-top-left-radius: 20px;
                background: lightgray; padding-top: 3px;">
            <div class="container-sell-buyer-comment-on-selling-pane">
                <div class="sell-button-on-selling-pane">
                    <button class="glyphicon glyphicon-send sell-icon" title="Переместить"
                            ng-click="release()"
                            ng-show="canRelease">
                    </button>
                </div>
                <div class="moving-modal-header stock-picker-on-moving-modal">
                    <stock-picker allow-all="false" stock="stock"></stock-picker>
                </div>
                <div class="moving-modal-header comment-input-on-moving-modal">
                    <comment-input ng-model="comment"></comment-input>
                </div>
                <div class="total-sum total-sum-on-moving-modal">
                    <on-fly-calc-totals totals="totals" descr="цены реализации"></on-fly-calc-totals>
                </div>
            </div>
        </div>
        <div class="stock-dest-on-moving-modal">
            <current-stock-indicator stock="stock"  descr=" (Получатель)"></current-stock-indicator>
        </div>
        <table class="table table-bordered selling-modal-table">
            <tr class="pane-thead">
                <td style="width: 60px;">Номер</td>
                <td>Наименование</td>
                <td style="width: 100px;" class="unprintable">Доступно, шт.</td>
                <td style="width: 115px;">К продаже, шт.</td>
                <td style="width: 100px;">Цена, руб., коп.</td>
            </tr>
            <tbody>
            <tr class="hoverable" ng-repeat="x in rows track by $index">
                <td class="price-data" title="Номер">{{ $index + 1 }}</td>
                <td title="">{{ x.coming.item.name + "(" + x.coming.item.ean + ")"}}</td>
                <td class="text-table-row current-quantity unprintable"
                    title="Текущее количество">
                    {{ x.coming.currentQuantity }}
                </td>
                <td class="hoverable common-number-input" title="К продаже">
                    <pane-quantity-input input-id={{quantityInputId}} value-field="quantity"
                                         input-value="x" change-value="checkRows()">
                    </pane-quantity-input>
                </td>
                <td class="hoverable common-number-input" title="Цена продажи">
                    <pane-quantity-input value-field="price"
                                         input-value="x" change-value="checkRows()">
                    </pane-quantity-input>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>