<div ng-hide='modalConfig.hidden' class='trans-layer'></div>
<div class='modal-container' ng-class='{modalactive: !modalConfig.hidden}' ng-transclude>
    <span class="glyphicon glyphicon-remove item-blank close-selling-modal"
          ng-click="closeModal()">
    </span>
    <div class="items-table"
         ng-keyup="handleKeyup($event)">
        <div style="height: 65px; background: lightgray; padding-top: 3px;">
            <div style="display: flex;">
                <div style="width: 10%;">
                    <button class="glyphicon glyphicon-shopping-cart sell-icon"
                        ng-click="release()"
                        ng-show="canRelease"
                        title="Продать">
                    </button>
                </div>
                <div class="print-icon-on-selling-modal">
                    <print-menu
                            report-list-visible="reportListVisible"
                            report-id="undefined"
                            reports = "reports">
                    </print-menu>
                </div>
                <div style="width: 20%;">
                    <comment-input ng-model="comment"></comment-input>
                </div>
                <div style="width: 3px;"></div>
                <div style="width: 25%;">
                    <buyer-input buyer="buyer"></buyer-input>
                </div>
                <div style="width: 3px;"></div>
                <div style="width: 40%;" class="total-sum-on-selling-modal">
                    <on-fly-calc-totals totals="totals" descr="цены реализации"></on-fly-calc-totals>
                </div>
            </div>
        </div>
        <table class="table table-bordered selling-modal-table table-responsive">
            <tr class="pane-thead">
                <td style="width: 60px;">Номер</td>
                <td>Наименование</td>
                <td style="width: 100px;" class="unprintable">Доступно, шт.</td>
                <td style="width: 115px;">К продаже, шт.</td>
                <td style="width: 100px;">Цена, руб., коп.</td>
            </tr>
                <tbody>
                    <tr class="hoverable" ng-repeat="x in rows track by $index">
                        <td class="price-data" title="Номер">{{ $index + 1 }}</td>
                        <td title="">{{ x.coming.item.name + "(" + x.coming.item.ean + ")"}}</td>
                        <td class="text-table-row"
                            title="Текущее количество">{{ x.currentQuantity }}</td>
                        <td class="hoverable common-number-input" title="К продаже">
                            <pane-quantity-input value-field="quantity" input-id={{quantityInputId}}
                                                 input-value="x" change-value="checkRows()">
                            </pane-quantity-input>
                        </td>
                        <td class="hoverable common-number-input" title="Цена продажи">
                            <pane-quantity-input read-only=buyer.sellByComingPrices value-field="price"
                                                 input-value="x" change-value="checkRows()">
                            </pane-quantity-input>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>