@media print {
    .unprintable {
        display: none!important;
    }
    .printable {
        display: block!important;
    }
    .printable-td {
        display: table-cell!important;
    }
    input {
        border: none!important;
    }
    /*td {*/
    /*font-size: 10px;*/
    /*}*/
}


.dropdown > .hoverable {
    display: none;
}

.dropdown:hover > .hoverable {

    display: block;
}
.prices-3-in-line{
    border: 0.5px solid lightgray;
    padding: 2px;
    height: 140px;
    width: calc(100% / 3 - 0px);
    color: black;
    text-align: justify;
    page-break-inside: avoid;
    /*cursor: no-drop;*/
}

/*.prices-3-in-line:hover {*/
    /*background: coral;*/
/*}*/

.barcode {
    position: absolute;
    top: 48%;
    left: -2%;
    z-index: -1;
}

.price-out {
    /*font-size: 33px;*/
    position: absolute;
    top: 43%;
    right: 1%;
}

.rub-price {
    font-size: 40px;
    margin-right: -10px;
}

.kop-price {
    font-size: 20px;
}

.rub-kop {
    position: absolute;
    top: 72%;
    right: 0%;
    font-style: italic;
}

.additional-info {
    position: absolute;
    text-align: left;
    font-size: 10px;
    top: 85%;
    font-family: serif;
    line-height: 100%;
}

.item-unit {
    position: absolute;
    /* font-weight: bold; */
    font-style: normal;
    /* top: -143%; */
    right: 115%;
}

.item-name-text {
    display: table-cell;
    line-height: 100%;
    font-family: serif;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    height: 69px;
    width: 268px;
    vertical-align: middle;
}

.price-controls-container {
    margin-top: -8px;
    width: 40%;
    margin-left: 30%;
    border: none;
    background: transparent;
    box-shadow: none;
}

.price-controls-panel {
    text-align: center;
    font-size: 35px;
}

.price-control-btn {
    border: none;
    background: none;
}

button.add {
    color: green;
}

button.remove {
    color: red;
}

button:hover {
    color: black;
}
