:root {
    /*#ed5944*/
    /*#288236*/
    /*#1fad35*/
    /*#25d140*/
    /*#3025d1*/
    /*#d1252d*/
    /*#d14725*/
    /*#d16425*/
    /*#2572d1, #0661d1, #0664d1*/
    --main-color: coral;
    --white-color: white;
    --gray-color: lightgray;
    --common-font-size: 16px;
    /*'Roboto', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif*/
    --main-font: Times;
}

/*.test {*/
   /*font-family: Times  ;*/
/*}*/

@media print {
    .unprintable {
        display: none!important;
    }
    .printable {
        display: block!important;
    }
    .printable-td {
        display: table-cell!important;
    }
    input {
        border: none!important;
    }
    /*td {*/
        /*font-size: 10px;*/
    /*}*/
}

.printable, .printable-td {
    display: none;
}

/*@media print { @page { margin: 2cm; }}*/


/*#result {*/
	/*font-family: verdana;*/
	/*font-size: 1.5em;*/
	/*text-align: center;	*/
/*}*/

/*#barcode {*/
	/*position: relative;*/
	/*text-align: center;	*/
/*}	*/

/*#barcodecanvas {*/
	/*display: none;*/
/*}*/

/*a.close-modal {*/
    /*margin-top:15px;*/
    /*margin-right:15px;*/
/*}*/

div.items-table {
    overflow-x: unset;
}

.dropdown > .hoverable {
    display: none;
}

.dropdown:hover > .hoverable {
    /*position: ;*/

    display: block;
}

.item-input-dropdown {
    right: 0px;
    overflow-y: auto;
    max-height: 200px;
    margin-top: -5px;
    width: 95%;
}

.item-dropdown {
    overflow-y: auto;
    max-height: 300px;
    margin-top: 56px;
    margin-left: 10%;
    width: 90%;
}

.dropdown > .focusable {
    display: none;    
}

.dropdown:focus > .focusable {
    /*position: ;*/
    margin-top: 0px;
    display: block;
    margin-left: 5%;
    width: 90%;    
}

.dropdown-menu > .hoverable {
    display: none;
}

.dropdown-menu:hover > .hoverable {
    /*position: ;*/
    margin: 0px;
    display: inline-block;
}

tr.hoverable:hover {
    background: rgba(0, 0, 255, 0.11);
}

td.hoverable:hover, span.hoverable:hover   {
    background: var(--main-color);
    color: var(--white-color);
    cursor: pointer;
}

div.hoverable:hover  {
    /*color: var(--white-color);*/
    background: var(--main-color);
    border-radius: 5px;
    cursor: cell;
}

/*------------------------------tab_styles*/
body {font-family: "Lato", sans-serif;}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}
/*/--------------------------------Animated Search input--------------*/

.searchinput {
    width: 150px;
    height: 40px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: -1px;
    /*margin-bottom: 5px;*/
    box-sizing: border-box;
    /*border: 2px solid var(--main-color);*/
    text-align: center;
    /*border-radius: 4px;*/
    font-size: 14px;
    background-color: ghostwhite;
    /*background-image: url('searchicon.png');*/
    background-position: 10px 10px;
    background-repeat: no-repeat;
    /*padding: 12px 20px 12px 40px;*/
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.searchinput:focus {
    width: 40%;
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: darkblue;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.trans-layer {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

    background: rgba(9, 10, 11, 0.5);
  z-index: 1000;
}

.modal-container {
  width: 90%;
  position: fixed;
  left: 5%;
  top: 10%;
  z-index: 1001;
  
  /*max-height: 90%;*/
  /*overflow-y: auto;  */
   
  opacity: 0;
  /*border-radius: 3px;*/
  /*background: white;*/
  /*border: 1px solid teal;*/
  
  transform: translate(0,-200%);
  -webkit-transform: translate(0,-200%);
  
  transition: opacity ease-in-out .3s, transform ease-in-out .3s;
  -webkit-transition: opacity ease-in-out .3s, transform ease-in-out .3s;
}

.modal-container-addeditsupplier {
  width: 90%;
  
  position: fixed;
  left: 0%;
  top: 5%;
  z-index: 1001;
  
  max-height: 90%;
  /*overflow-y: auto;  */
   
  opacity: 0;
  border-radius: 3px;
  background: var(--white-color);
  border: 1px solid teal;
  
  transform: translate(0,-200%);
  -webkit-transform: translate(0,-200%);
  
  transition: opacity ease-in-out .3s, transform ease-in-out .3s;
  -webkit-transition: opacity ease-in-out .3s, transform ease-in-out .3s;
}

.modalactive {
    /*padding: 10px;*/
    opacity: 1;
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
}

div.items-modal {
    text-align: center;
    font-size: 16px;
    background: white;
    padding: 3px;
}

div.items-modal > input, textarea{
    background: beige;
}

button.update-item-btn {
    border: 2px solid green;
    color: green;
    background: transparent;
}

button.delete-item-btn {
    border: 2px solid red;
    color: red;
}

button.add-item-btn {
    border: 2px solid orange;
    color: orange;
}

button.add-comming-btn {
    width: 95%;
    height: 35px;
    font-size: 20px;
    border: 2px solid blue;
    color: blue;
    padding: 2px;
    margin-bottom: 5px;
}

.tab-pane {
    /*margin-top: 1%;*/
}

.tabbable {
    background: transparent;
}

td.comingdetails > input {
    width: 100%;
    height: 40px;
    font-size: 30px;
    text-align: center;
}

td.comingdetails {
    font-size: 30px;
    text-align: center;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
    padding: 5px;
    color: var(--main-color);
    border: var(--main-color) 4px solid;
}

span.item-add {
    cursor: pointer;
    color: green;
    font-size: 22px;
    margin: 1%;
}

button.item-query {
    padding: 0px;
    border: none;
    background: none;
    /*color: var(--main-color);*/
    /*position: absolute;*/
    /*font-size: 40px;*/
    /*right: 3px;*/
    top: 5px;
}

button.item-query:hover {
    color: black;
}

.item-input-toolbox {
    position: absolute;
    right: 3px;
    font-size: 40px;
    color: var(--main-color);
    top: -12px;
    font-family: var(--main-font);
}


button.item-arrow-up-btn {
    cursor: pointer;
    color: green;
    font-size: 22px;
    margin-top: 5px;
    background: none;
    border: none;
}

span.item-add:hover {
    color: black;
    font-size: 24px;
}

span.item-delete {
    cursor: pointer;
    color: red;
    font-size: 22px;
}

span.item-delete:hover {
    color: black;
    font-size: 24px;
}

span.item-edit {
    cursor: pointer;
    color: orange;
    font-size: 22px;
}

span.item-edit:hover {
    color: black;
    font-size: 24px;
}

span.filter-item {
    cursor: pointer;
    color: var(--main-color);
    font-size: 36px;
}

span.filter-item:hover {
    color: blueviolet;
    font-size: 36px;
}

span.item-blank {
    cursor: pointer;
    color: var(--main-color);
    font-size: 22px;
}

.eraser-btn {
    cursor: pointer;
    color: var(--main-color);
    border: none;
    background: none;
}

span.item-blank.close-modal {
    position: absolute;
    left: 97%;
    font-size: 30px;
    color: var(--main-color);
}

span.item-blank.close-selling-modal {
    left: 97%;
    font-size: 30px;
    color: var(--main-color);
}

span.item-blank:hover {
    color: black;
}


span.item-blank.clear-search {
    vertical-align: middle;
    color: var(--main-color);
}

ul.suppliers {
    position: relative;
}

div.wrapper {
    font-size: var(--common-font-size);
    border-radius: 10px;
    background: lightgrey;
    padding: 1%;
}

div.modal-container-addeditsupplier > input {
    width: 95%;
}

.coming-doc-input {
    width: 30%;
    display: inline;
    float: right;
    margin-bottom: 2px;
}

.coming-item-name {
    float: left;
    font-size: 16px;
}

span.warning-item-input {
    background: var(--main-color);
    color: var(--white-color);
    position: absolute;
    margin-top: 30px;
}

input.coming-valid {
    width:80px;
    display: inline-block;
    margin-right: 100px;
}
textarea.buyer-name {
    font-size: 16px;
}

ul.buyer-dropdown {
    margin-top: 0px;
    width: 95%;
    overflow-y: auto;
    max-height: 300px;
    /*left: -45%;*/
}

div.buyer-debt {
    position: absolute;
    background: brown;
    color: aliceblue;
    padding-right: 2%;
    padding-left: 2%;
}
button.sell-item-btn {
    float: right;
    margin-bottom: 7px;
    width: 50%;
    background: ghostwhite;
}

div.locked {
    border: var(--main-color) 10px solid;
    padding: 5px;
}

.common-number-input {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    /*font-size: 14px;*/
    /*font-weight: bold;*/
    /*background: inherit;*/
    border: none;
    font-size: 25px;
}

input.common-number {
    font-size: inherit;
    text-align: inherit;
    background: inherit;
    border: none;
}

div.total-sellings {
    float: right;
    font-size: 24px;
}
.total-quantity {
    border-top-left-radius: 15px;
    /*border-bottom-left-radius: 15px;*/
    text-align: center;
    font-size: 30px;
    background: var(--main-color);
    color: yellow;
    /*font-weight: bold;*/
}

.total-sum {

    position: absolute;
    right: 2%;
    width: 30%;
    height: 59px;
    padding-top: 10px;

    border-top-left-radius: 15px;
    text-align: center;
    font-size: 30px;
    background: var(--main-color);
    color: var(--white-color);
}

.total-sum-on-selling-modal {

    height: 59px;
    /*padding-top: 10px;*/

    border-top-left-radius: 15px;
    text-align: center;
    font-size: 30px;
    background: var(--main-color);
    color: var(--white-color);
}

.total-sum-on-moving-modal {
    width: 32%;
    right: 2px;
    padding: 0px;
}

.total-sum-on-moving-pane {
    /*position: absolute;*/
    /*right: 2%;*/
    width: 37%;
    /*height: 59px;*/
    /*border-top-left-radius: 15px;*/
    /*text-align: center;*/
    /*font-size: 30px;*/
    /*background: var(--main-color);*/
    /*color: white;*/
}


    /*border-top-left-radius: 15px;*/
    /*text-align: center;*/
    /*font-size: 30px;*/
    /*background: var(--main-color);*/
    /*color: white;*/
    /*margin: 1%;*/
/*}*/

span.selling-warning {
    font-size: 20px;
    background: var(--main-color);
    color: var(--white-color);
}

td > span.selling-warning {
    font-size: 24px;
}

div.selectedpane {
    /*border: var(--main-color) 2px solid;*/
    background: lightgrey;
    box-shadow: 10px 10px 5px;
}

.pane-thead {
    text-align: center;
    font-weight: bold;
    background: var(--white-color);
    color: black;
    font-size: 16px;
}

.form-control {
    font-size: var(--common-font-size);
}

.form-control:focus {
    border-color: var(--main-color);
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: var(--gray-color);
    opacity: 1;
    color: var(--main-color);
    border: var(--main-color) 2px solid;
}

div.menu-panel {
    display: flex;
    /*border-top: var(--main-color) 2px solid;*/
    /*border-left: var(--main-color) 2px solid;*/
    /*border-right: var(--main-color) 2px solid;*/
    padding-top: 2px;
}

.nav-tabs > li {
    margin-bottom: -3px;
}

.table {
    /*border: 2px solid #ddd;*/
    margin-bottom: 0px;
    font-family: var(--main-font);
}

div.add-edit-panel {
    font-size: 30px;
    display: flex;
    margin-left: auto;
}

td.sold {
    border-right: var(--main-color) 8px solid !important;
}

.user-input-container-on-coming {
    float: right;
    margin-left: 10px;
}

.doc-input-container {
    display: inline-flex;
    width: 100%;
}

.doc-input-container-on-coming {
    width: 650px;
    font-weight: bold;
    background: silver;
    color: var(--main-color);
    /*border: var(--main-color) 2px solid*/
}

.code-container-on-coming {
    text-align: center;
    /*width: 300px;*/
    color: var(--main-color);
    font-weight: bold;
    padding-top: 9px;
}

.header-controls {
    display: flex;
}

.item-supplier-container-on-coming {
    margin-top: 5px;
    display: flex;
}

.item-container-on-coming {
    width: 49%;
}

.supplier-container-on-coming {
    width: 49%;
    margin-left: 1%;
}

.item-ean-container-on-coming {
    width: 200px;
    display: flex;
    margin-top: 2px;
}

.doc-picker-container {
  display: inline-flex;
    border-radius: 4px;
    border: 2px var(--main-color) solid;
    height: 34px;
}

.doc-name {
    cursor: pointer;
    width: 120px;
    border: none !important;
    border-radius: 0px;
    height: 30px;
}

.doc-supplier {
    width: 220px;
    border: none !important;
    border-radius: 0px;
    height: 30px;
    cursor: pointer;
}


.doc-date {
    padding-top: 4px;
    width: 152px;
    background: var(--gray-color);
    color: var(--main-color);
    font-weight: bold;
}

.doc-date-pickers {
    display: flex;
}

.doc-date-pickers>input[type="datetime-local"] {
    width: 148px;
}

.doc-date-pickers>span {
    padding: 7px;
}

.docs-list {
    overflow-y: auto;
    max-height: 300px;
    position: absolute;
    z-index: 1000;
    min-width: 370px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    /*border: 1px solid rgba(0, 0, 0, .15);*/
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.docs-list-editing {
    /*overflow-y: auto;*/
    width: 100%;
    max-height: 300px;
    position: absolute;
    z-index: 1000;
    min-width: 370px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    /*border: 1px solid rgba(0, 0, 0, .15);*/
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}


.picked {
    background: var(--white-color);
}

.new-coming-doc-pricein {
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
}

.doc-and-supplier-on-new-coming {
    display: flex;
    width: 100%;
}

.supplier-on-new-coming {
    width: 100%;
}

.doc-on-new-coming {
    width: 100%;
}

.add-coming-button-on-new-coming {
    width: 100%;
    color: var(--white-color);
    background: var(--main-color);
    padding: 0;
    font-weight: bold;
    font-size: 30px;
    border: var(--white-color) 2px solid;
}

.clickable-top-panel {
    width: 96%;
}

.pane-right-menu {
    width: auto;
    padding-left: 2px;
    display: flex;
    background: var(--white-color);
    border-top-left-radius: 5px;
    border-left: 2px solid var(--main-color);
    border-top: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);

}

/*.coming-pane-right-menu {*/
    /*width: 116px;*/

/*}*/

.one-control-on-pane {
    display: flex;
    width: 29px;
    margin-right: 8px;
}

/*.two-controls-on-pane {*/
    /*display: flex;*/
    /*width: 56px;*/
    /*!*margin-right: 8px;*!*/
/*}*/


.blank-search-row {
    width: 100%;
}

.controls-on-selling-pane {
    margin-left: auto;
}

.filter-on-coming-pane {
    display: inline;
}

.filter-on-selling-pane {
    display: inline;
}

.coming-filter-settings-list {
    z-index: 1;
    min-width: 450px;
    list-style: none;
    position: absolute;
    right: 2%;
    border: black 1px solid;
    padding: 5px;
    background: var(--white-color);
    font-size: 14px;
    color: black;
}

.root-container {
    margin: 1%;
}

.ok-btn-on-coming-filter {
    width: 100%;
    color: var(--white-color);
    background: var(--main-color);
    padding: 0px;
    font-size: 25px;
}

.ok-btn-on-selling-filter {
    width: 78%;
    color: var(--white-color);
    background: var(--main-color);
    padding: 0px;
    font-size: 25px;
}

.clear-btn-on-selling-filter {
    width: 10%;
    color: var(--white-color);
    background: var(--main-color);
    padding: 0px;
    font-size: 25px;
}

.ok-btn-on-coming-filter {
    width: 81%;
    color: var(--white-color);
    background: var(--main-color);
    padding: 0px;
    font-size: 25px;
}

.clear-btn-on-coming-filter {
    width: 9%;
    color: var(--white-color);
    background: var(--main-color);
    padding: 0px;
    font-size: 25px;
}



.cancel-btn-on-coming-filter {
    width: 49%;
    color: var(--main-color);
    background: var(--white-color);
    padding: 0px;
    font-size: 25px;
}

input.warning-input {
    border: 3px solid var(--main-color);
}

td.warning-input {
    background: var(--main-color);
}


.stock-icon {
    font-size: 24px;
    margin-right: 3px;
    color: var(--main-color);
    background: var(--white-color);
    padding: 4px;
    cursor: pointer;
    border: 2px solid var(--main-color);
}

.stock-icon:hover {
    background: silver;
}

.stocks-list {
    font-size: small;
    position: absolute;
    right: 40px;
    top: -16px;
    background: var(--white-color);
    padding: 2px;
    border: 2px solid var(--main-color);
    z-index: 1;
}

.unselected-stock {
    color: silver;
    font-weight: bold;
}

.selected-stock {
    background: silver;
    color: var(--main-color);
    font-weight: bold;
}

.user-control-container {
    position: absolute;
    right: 1%;
    /*top: 1%;*/
}


button.user-select {
    box-shadow: grey 1px 8px 2px;
    border-radius: 5px;
    width: 120px;
    background: var(--white-color);
    border: var(--main-color) 2px solid;
    color: var(--main-color);
    font-weight: bold;
    cursor: pointer;
}

.logout-btn {
    background: var(--white-color);
    color: var(--main-color);
    border: 4px solid var(--main-color);
    width: 100%;
}
.user-select:hover, .logout-btn:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.user-dropdown {
    width: 210px;
    margin-top: -21px;
    padding: 0px;
    margin-left: -209px;
}

.supplier-container-on-doc {
    width: 100%;
}

.filter-row {
    margin: 1%;
}

.with-margin-bottom {
    margin-bottom: 18px;
}

.container-sell-buyer-comment-on-selling-pane {
    display: flex;
}

.buyer-input-on-selling-pane {

    position: absolute;
    right: 32%;
    margin-right: 3px;
    width: 25%;

    /*width: 35%;*/
    /*margin-left: 1%;*/
}

.comment-input-on-selling-pane {
    position: absolute;
    right: 57%;
    margin-right: 6px;
    width: 20%;
}


.comment-input-on-moving-pane {
    position: absolute;
    right: 39%;
    margin-right: 6px;
    width: 20%;
}

.sell-button-on-selling-pane {
    display: flex;
    width: 10%;
}

.stock-container-on-coming-filter {
    display: inline-block;
    float: left;
    margin-top: 1px;
}

.total-quantity-on-sold-pane {
    width: 25%;
    text-align: center;
    font-size: 39px;
    background: var(--main-color);
    color: yellow;
    font-weight: bold;
}
.total-sum-on-sold-pane {
    width: 45%;
    text-align: center;
    font-size: 39px;
    background: var(--main-color);
    color: var(--white-color);
    font-weight: bold;
}

.add-edit-item-warning {
    background: var(--main-color);
    color: var(--white-color);
    /*margin: 1%;*/
    margin-left: 10px;
}

.page-picker-on-sold-pane {
    background: var(--white-color);
    font-size: 15px;
}

.page-picker-on-sold-pane > div {
    /*margin-left: 45%;*/
}

.page-picker-list-of-pages {
    position: absolute;
    overflow-y: auto;
    max-height: 200px;
    margin-left: 15%;
    min-width: 50px;
}

.page-control {
    position: inherit;
    cursor: pointer;
}

.page-control:hover {
    color: var(--main-color);
}

.page-control-page-picker {
    font-weight: bold;
}

.price-out-on-coming-pane {
    font-weight: bold;
}

.totals-root-div {
    cursor: pointer;
    box-shadow: 5px 5px 5px 0px;
    display: flex;
    background: var(--main-color);
    border-radius: 10px;
}
.totals-quantity {
    width: 50%;
}
.totals-sum {
    width: 50%;
}

.value-on-totals {
    color: yellow;
    font-size: 40px;
    padding-left: 5%;
}

.description-on-totals {
    color: var(--white-color);
    font-size: 25px;
    padding-left: 1%;
}

.pane-toggler {
    color: var(--main-color);
    font-weight: bold;
    border: 2px solid var(--white-color);
    padding: 6px;
}

.pane-toggler:hover {
    background: var(--main-color)!important;
    color: var(--white-color)!important;
}

.sell-info-on-selling-pane {
    margin-left: 20%;
    font-size: 20px;
}

.invoice-row-for-printing {
    margin: 3px;
}

.contract-header {
    text-align: center;
}

.contract-row {

}

.comment-on-selling-pane {
    font-size: inherit;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    border: none;
}

.sell-icon {
    font-size: 57px;
    color: var(--main-color);
    border: none;
    background: var(--gray-color);
    width: 10%;
}

.sell-icon-on-selling-modal {
    margin-right: 38%;
}

.sell-icon:hover {
    color: yellow;
}

.stock-input-on-moving-pane {
    position: absolute;
    margin-right: 6px;
    right: 59%;
}

.move-button-on-moving-pane {
    width: 10%;
    position: absolute;
}

td.price-data {
    text-align: center;
    vertical-align: inherit;
    font-size: 16px;
}

.sell-icon-on-coming-pane {
    position: inherit;
}

.selling-modal-table {
    background: var(--gray-color);
}

.invoice-body {
    font-size: 10px!important;
}

.invoice-body-header {
    font-weight: bold;
}

.invoice-body-row {
    text-align: center;
}

.comment-container {
    display: flex;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    /*margin-left: 1%;*/
    background: snow;
    padding: 1px;
}

.checkbox_1_5 {
    zoom: 1.5; position: absolute;
}

.main-pane {
    /*width: 10%;*/
    /*text-align: center;*/
}

.moving-modal-header {
    position: absolute;
    margin-right: 6px;
    margin-top: 3px;
}

.comment-input-on-moving-modal {
    right: 32%;
    width: 25%;
}

.stock-picker-on-moving-modal {
    right: 57%;
}

.invoice-stamp {
    position: absolute;
    left: 104px;
    margin-top: -6px;
}

.print-icon {
    font-size: 30px;
    color: var(--main-color);
    position: absolute;
    cursor: pointer;
}

.print-icon-on-selling-modal {
    width: 5%;
    margin-right: -5px;
    text-align: right;
    font-size: 30px;
    color: var(--main-color);
    cursor: pointer;
}

.print-icon-on-selling-pane {
    right: 78%;
}

.one-icon-on-control-pane {
    position: relative;
    width: 100%;
}

.print-icon:hover {
    color: yellow;
}

.report-list-table {
    font-size: 16px;
}

.filter-row-two-elements {
    width: 96%;
}

.totals-on-new-coming {
    cursor: pointer;
    width: 35%;
    text-align: center;
    font-size: 32px;
    background: var(--main-color);
    color: yellow;
    border-top-left-radius: 12px;
    margin-left: 1%;
}

.generate-bc-btn {
    width: 3%;
    font-size: 19px;
    font-weight: bold;
    padding: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: none;
    background: lightgrey;
}

.enabled-button {
    color: var(--main-color);
}

.enabled-button:hover {
    color: var(--white-color);
}

.disabled-button {
    color: grey;
}

.deletedRow {
    background: var(--white-color);
    color: grey;
}

.middle-rows > td {
    vertical-align: middle!important;
    padding: 4px!important;
}

.clickable-filter-value {
    cursor: pointer;
}

.clickable-filter-value:hover {
    background: var(--main-color);
    color: black;
}

.comment-row {
    color: black;
    cursor: pointer;
}

.comment-row:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.btn-on-pane {
    color: var(--main-color);
    padding: 2px;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
}

.comments-container {
    text-align: center;
    max-height: 250px;
    overflow-y: auto;
    padding-left: 5px;
    padding-right: 5px;
    top: 50%;
    left: -3%;
    min-width: 0px;
}

ul.left-side {
    min-width: 110px;
    left: -110px;
}

.sip-date-changer {
    top: 75%;
}

.sip-date-changer-ok-btn {
    background: var(--white-color);
    font-weight: bold;
    color: green;
    /*border: 1px solid var(--gray-color);*/
    top: 0px;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    border: 1px solid var(--main-color);
}

.sip-date-changer-ok-btn:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.item-title {
    top: 10px;
    color: black;
}

.item-name-on-coming-item-pane {
    margin-left: 15px;
}

.item-name-on-coming-item-pane:hover {
    border-radius: 5px;
    background: var(--main-color);
    color: var(--white-color);
    cursor: pointer;
}

.invoice-modal-container {
    margin-top: 28px;
    background: var(--white-color);
    height: 100px;
    width: 30%;
    margin-left: 35%;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
    text-align: center;
}

span.close-invoice-modal {
    margin-top: -7px;
    font-size: 30px;
    color: var(--main-color);
}

.print-icon-on-invoice-modal {
    font-size: 50px;
    color: var(--main-color);
    cursor: pointer;
}

.coming-pane-right-menu-option {
    font-size: 30px;
    cursor: pointer;
    color: var(--main-color);
    position: relative;
    /*width: 34%;*/

}

.coming-pane-right-menu-option:hover {
    color: lightgrey;
}

td.quick-filter {
    text-align: right;
    font-weight: normal;
}

.quick-filter-comment {
    border: 2px var(--main-color) dotted;
    border-radius: 5px;
    display: inline-table;
}

.quick-filter-comment-delete {
    text-align: center;
    min-width: 0px;
    cursor: pointer;
    top: 65%;
    z-index: 1001;
}

.quick-filter-comment-delete:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.background-white:hover {
    background: var(--white-color);
    color: black;
}

.word-from-phrase-eraser-title {
    background: var(--main-color);
    color: var(--white-color);
    font-size: 10px;
}

.item-additional-info-on-cp {
    font-weight: bold;
    /*margin-left: auto;*/
    /*margin-left: 15px;*/
    font-size: small;
    /*float: right;*/
}

.quick-filter-container {

    background: var(--white-color);
    margin-left: 5px;
    border: 2px var(--main-color) solid;
    border-top-left-radius: 10px;
    padding: 3px;
    font-family: var(--main-font);
    font-size: large;
    width: 44%;
}

.item-input-filter {
    color: var(--main-color);
    top: 4px;
    left: 2px;
}

.item-quick-filter-ul {
    top: -5px;
    min-width: 200px;
    left: 20px;
}

.item-quick-filter-icon {
    position: absolute;
    margin-left: 3px;
    color: var(--main-color);
}

.item-quick-filter-icon:hover {
    color: var(--white-color);
    cursor: pointer;
}

.available-by-ean {
    background: var(--white-color);
    color: var(--main-color);
    font-weight: bold;
    font-size: 30px!important;
}

.inherited {
    color: inherit;
}

.item-input-on-panes {
    /*width: 100%;*/
    padding-left: 10%;
    width: 80%;
    display: inline-block;
}

.pane-searchinput-btn {
    background: lightgrey;
    color: var(--main-color);
    font-size: 30px;
    top: 2px;
    padding: 0px;
    height: 42px;
    border: none;
}

.overhead-percentage {
    border-radius: 3px;
    padding: 1px;
    font-size: 12px;
    position: absolute;
    background: var(--main-color);
    font-weight: bold;
    color: var(--white-color);
    margin-left: 2px;
    margin-top: -5px;
}

.quantity-changer-input {
    font-size: 100px;
    height: 150px;
    text-align: right;
    color: black;
    border: none;
    border-radius: unset;
    box-shadow: none;

}

.quantity-rest-container {
    background: var(--white-color);
    width: 40%;
    font-size: 70px;
    line-height: 2.1;
    color: var(--main-color);
}

.quantity-changer-btn {
    background: var(--main-color);
    width: 100%;
    color: var(--white-color);
    height: 110px;
    font-size: 50px;
}

.change-quantity-btn {
    min-height: 35px;
    width: 100%;
    font-size: 25px;
    background: inherit;
    border-bottom: 2px solid var(--main-color);
    box-shadow: 6px 8px 4px #888888;
}

.text-table-row {
    font-size: 25px;
    text-align: center;
}

.print-cmp-btn {
    border: none;
    background: none;
}

.add-comment-btn {
    color: green;
    width: 50%;
    border: none;
    background: var(--white-color);
    font-size: 20px;
}

.text-edit-modal-field {
    width: 100%;
    font-size: 24px;
}

.filter-eraser {
    margin-top: 5px; font-size: 22px;
}

.comment-cause {
    background: var(--gray-color);
    text-align: center;
    padding: 10px;
}

.send-item-name-to-section-btn {
    background: var(--white-color);
    border: none;
    color: var(--main-color);
    font-size: 22px;
}

.send-item-name-to-section-btn:hover {
    color: black;
}

.comment-input-on-text-modal {
    font-size: 30px;
}

.sortable-thead-value {

}

.sortable-thead-value:hover {
    cursor: pointer;
    color: var(--main-color);
}

.sorting-row {
    background: none;
    border: none;
    color: var(--main-color);
}

.sorting-row:hover {
    color: var(--gray-color);
}

.current-quantity-on-changer-modal {
    background: var(--gray-color);
    top: 5px;
    /* font-weight: bold; */
    font-size: 45px;
    border-radius: 5px;
}

.stock-name-on-header {
    color: var(--white-color);
    font-weight: bold;
    background: brown;
}

.item-components-table-container {
    width: 100%;
    text-align: left;
    margin-left: 1px;
}

.item-components-table-quantity-td{
    width: 110px;
    text-align: center;
    padding: 0px!important;
}

.item-components-table-quantity-input {
    text-align: center;
    width: 155px;
    font-size: 32px;
}

.item-component-modal-open-btn {
    border-bottom: 2px solid var(--main-color);
    width: 98%;
    height: 99%;
}

.pane-request-indicator {
    width: 34px;
    height: 32px;
    padding-left: 3px;
    font-size: 28px;
    top: 7px;
    background: var(--main-color);
    border-radius: 3px;
    color: var(--white-color);
}

.delete-invoice-btn {
    background: var(--white-color);
    color: brown;
    border-radius: 10px;
}

.item-name-on-qty-changer-modal {
    font-size: var(--common-font-size);
    background: var(--main-color);
    color: var(--white-color);
    text-align: center;
}

.common-ok-btn {
    background: var(--white-color);
    border-radius: 5px;
    border: 1px var(--gray-color) solid;
}

button.add {
    color: green;
}

button.edit {
    color: var(--main-color);
}

button.delete {
    color: brown;
}

button.disabled {
    color: var(--gray-color);
}

div.add-edit-controls-container {
    font-size: 22px;
}

div.totals-type {
    color: var(--white-color);
    font-size: 20px;
    margin-top: -10px;
}

.item-synonym-record {
    color: var(--gray-color);
}

.copy-ean-btn {
    margin-top: -2px;
    color: var(--main-color);
    border-radius: 5px;
}

.last-change-inventory-date {
    padding: 2px;
    font-size: 10px;
    font-weight: bold;
    background: var(--main-color);
    border: 1px solid;
    color: var(--white-color);
    border-radius: 2px;
}

.filter-checkbox-input {
    zoom: 1.5;
    position: absolute;
}

.filter-checkbox-name {
    margin-top: 1%;
    color: var(--main-color);
}

span.inventory-deviation-ok {
    color: green;
    font-size: 22px;
}

span.inventory-deviation-shortage {
    color: var(--white-color);
    background: var(--main-color);
}

span.inventory-deviation-surplus {
    background: var(--white-color);
    color: var(--main-color);
}

button.set-invetnory-values {
    width: 21%;
}

button.set-invetnory-values-to-zeroes {
    width: 21%;
}


button.apply-inventory-results {
    width: 52%;
}

button.inventory-button {
    margin: 2px;
    margin-top: 7px;
    color: var(--white-color);
    background: var(--main-color);
    border-radius: 10px;
    font-size: 25px;
}

button.disabled-inventory-btn {
    background: var(--gray-color);
}

div.inventory-panel {

    background: var(--white-color);
    border-top-left-radius: 10px;
    border-bottom: 2px solid var(--main-color);
    border-left: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);
}

input.inventory-checkbox {
    zoom: 1.5;
    margin-top: 7px;
}

button.add-item-component {

    font-size: 33px;
    color: var(--white-color);
    background: var(--main-color);
    width: 100%;
    margin-top: 3px;
    border-radius: 10px;
}

button.delete-item-component {
    color: brown;
    font-size: 20px;
    border-radius: 5px;
}

div.item-components-picker-wrapper {
    min-height: 390px;
    overflow-y: auto;
    max-height: 440px;
    border: 1px solid darkgrey;
}

div.on-pane-totals-container {
    width: 65%;
    text-align: center;
}

span.comping-pane-ean-on-item-name {
    font-weight: bold;
    float: left;
    font-style: italic;
}

div.sold-receipt-item-descr {
    background: coral;
    color: white;
    font-weight: bold;
    text-align: right;
    margin-left: 5%;
    border-top-left-radius: 100%;
}

div.sold-composite-item-descr {
    background: white;
    color: coral;
    font-weight: bold;
    text-align: right;
    border-top-left-radius: 14px;
    margin-left: 4%;
}

td.receipt-bottom-underline {
    border-bottom: 3px dotted var(--main-color)!important;
}

td.sold-composite-item:not(:hover) {
    background: var(--white-color);
}

div.current-stock-indicator {
    background: var(--main-color);
    color: var(--white-color);
    font-weight: bold;
    text-align: end;
    /*border-top: 2px dotted var(--white-color);*/
    width: 55%;
    border-top-left-radius: 15px;
}