
        <span>
        <div class="dropdown item-details-filter">
            <span class="glyphicon glyphicon-filter unprintable"></span>
            <ul class="dropdown-menu hoverable comments-container item-title">
                <phrase-by-word-to-filter
                    filter="$ctrl.filter.searchString"
                    comment="$ctrl.row.item.name">
                </phrase-by-word-to-filter>
                <li ng-if="$ctrl.filter.buyer != null">
                    <span class="clickable-filter-value item-additional-info-on-cp"
                          style="margin-left: 3px;"
                          ng-click = '$ctrl.filter.supplier = $ctrl.row.doc.supplier'>
                        {{$ctrl.row.doc.supplier.name}}
                    </span>
                </li>
                <li ng-if="$ctrl.filter.buyer != null">
                    <span class="clickable-filter-value item-additional-info-on-cp"
                          style="margin-left: 3px;"
                          ng-click = '$ctrl.filter.document = $ctrl.row.doc'>
                        <span>{{$ctrl.row.doc.name + ' '}}</span>
                        <span>{{'от '}}</span>
                        <span>{{$ctrl.row.doc.date | date:'dd.MM.yyyy'}}</span>
                    </span>
                </li>

            </ul>
        </div>
        </span>
            <span class="item-name-on-coming-item-pane"
                  ng-click="$ctrl.editItem()($ctrl.row)">
                <span ng-show="$ctrl.row.item.perUnitQuantity > 0"
                        class="measure-unit-icon glyphicon glyphicon-scale"></span>
                        {{ $ctrl.row.item.name }}
            </span>

        <div style="text-align: right; margin-right: 12px;">
                        <span class="comping-pane-ean-on-item-name clickable-filter-value"
                              ng-click="$ctrl.filter.ean = $ctrl.row.item.ean">
                            {{$ctrl.row.item.ean}}
                        </span>
        <span class="clickable-filter-value item-additional-info-on-cp"
              style="margin-left: 3px;"
                ng-click = '$ctrl.filter.stock = $ctrl.row.stock'>
                                {{$ctrl.row.stock.name + '. '}}
                </span>
        <span class="clickable-filter-value item-additional-info-on-cp"
              ng-click = '$ctrl.filter.section = $ctrl.row.item.section'>
                                    {{$ctrl.row.item.section.name}}
        </span>
        <span>
            <div class="dropdown item-details-filter">
                <span class="glyphicon glyphicon-filter unprintable"></span>
                    <ul class="dropdown-menu hoverable comments-container">
                        <phrase-by-word-to-filter
                                filter="$ctrl.filter.sectionPart"
                                comment="$ctrl.row.item.section.name">
                        </phrase-by-word-to-filter>
                    </ul>
            </div>
        </span>
        </div>